.path-mod-openstudio input[type="submit"], input[type="reset"], input[type="button"] {
    margin: 0px;
}

.openstudio-container {
    min-height: 500px;
    background-color: #bfe2ef;
}

.openstudio-nav-primary {
    margin-top: -17px;
    clear: both;
    display: inline-block;
}

.openstudio-nav-logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #002158;
}

.openstudio-nav-email-subscription {
    font-size: 14px;
    font-weight: bold;
    color: #002158;
}

.openstudio-nav-settings {
    background-color: #e7f4fa;;
    padding: 10px 0 10px 10px;
    line-height: 16px;
}

.openstudio-bold {
    font-weight: bolder;
}

.openstudio-subscribe-button {
    float: right;
    display: inline-block;
    padding-right: 10px;
    margin-top: -42px;
}

.openstudio-atom-button {
    padding-right: 5px;
    display: inline-block;
}

.openstudio-rss-box {
    padding-top: 12px;
    clear: right;
}

.openstudio-rss-box  a {
    font-size: 14px;
    color: #0b55a8;
    cursor: pointer;
}

.openstudio-button-box {
    float: right;
    margin-top: -3px;
}

.openstudio-clear {
    clear: both;
}

.openstudio-add-dashboard-button {
    padding-top: 9px;
    float: right;
}

.path-mod-openstudio label {
    font-weight: bold;
}

.path-mod-openstudio .openstudio-nav-logo-wrapper {
    margin-left: -9px;
}

.path-mod-openstudio .openstudio-rss-button {
    background-image: url([[pix:openstudio|rss_rgb_32]]);
    background-position: 4px 4px;
    background-size: 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid #002158;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding-left: 27px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.path-mod-openstudio .openstudio-rss-button:hover, .openstudio-rss-button:focus {
    background-image: url([[pix:openstudio|rss_rgb_32]]);
    background-position: 4px 4px;
    background-size: 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-color: #002158;
    color: white;
    text-decoration: none;
    outline: none;
}

/* General navigation styles. */
.path-mod-openstudio .nav-pills > li > a {
    height: 44px;
    font-size: 16px;
    color: #002158;
    background-color: #e7f4fa;
    line-height: 44px;
    margin-right: 10px;

}


.openstudio-content-edit-form {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
}

.path-mod-openstudio .nav .dropdown-toggle .caret {
    margin-top: 16px;
    border-top: none;
}

.path-mod-openstudio .nav .caret {
    margin-right : 2px;
}

.path-mod-openstudio .caret {
    border-left: none;
    border-right: none;
    background-image: url([[pix:t/collapsed]]);
    border-left: 0 none;
    border-right: medium none;
    background-size: 13px 13px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.path-mod-openstudio .open .caret {
    border-left: none;
    border-right: none;
    background-image: url([[pix:t/expanded]]);
    border-left: 0 none;
    border-right: medium none;
    background-size: 13px 13px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.path-mod-openstudio .caret {
    border-left: none;
    border-right: none;
}

.path-mod-openstudio .active > a:focus {
    background-color: #bfe2ef;
}

.path-mod-openstudio .nav > li > a:focus {
    background-color: #bfe2ef;
}

.path-mod-openstudio .nav > li > a:hover {
    background-color: #bfe2ef;
}

.path-mod-openstudio .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    background-color: #bfe2ef !important;
    border-color : #bfe2ef !important;
    color: #002158 !important;
}

.path-mod-openstudio .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #bfe2ef;
    color: #002158;
    text-decoration: underline;
    background-image: none;
    line-height: 28px;
    height: 28px;
}

.path-mod-openstudio .dropdown-menu > li > a {
    padding: 0px 0px 0px 15px;
    height: 33px;
    line-height: 33px;
    background-color: #e7f4fa;
    color: #002158;
}

.path-mod-openstudio .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #bfe2ef;
    color: #002158;
    text-decoration: underline;
    background-image: none;
}

.path-mod-openstudio .nav-pills .dropdown-menu {
    border-radius: 3px;
}

.openstudio-navigation-icon {
    border: 0 none;
    margin-left: 0;
    padding-left: 0px;
    width: 28px;
}

.openstudio-navigation-notification-icon {
    border: 0 none;
    margin-top: 20px;
    position: absolute;
    vertical-align: middle;
    width: 28px;
}

.openstudio-navigation-notification-text {
    background: #b52a1e none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 7px;
    position: absolute;
    text-align: center;
    width: 18px;
}

.openstudio-create-folder-button {
    float: right;
}
.openstudio-add-content-form {
    float: left;
}

.path-mod-openstudio .dropdown-menu {
    padding: 1px;
    margin-top: 2px;
}

.path-mod-openstudio .shared-content .dropdown-menu {
    min-width: 195px;
}

.path-mod-openstudio .my-content .dropdown-menu {
    min-width: 165px;
}

.path-mod-openstudio .administration .dropdown-menu {
    min-width: 185px;
}

.openstudio-module-title {
    font-size: 22px;
    font-weight: bold;
    color: #002158;
    padding: 20px 20px 15px 20px;
}

.openstudio-content {
    margin: 0px 20px 20px 20px;
}

.openstudio-add-content-block {
    background-color: #f0f0f1;
    border-radius: 4px;
    float: left;
    padding: 8px 15px 0px 15px;
    width: 210px;
}

.openstudio-add-title-container {
    padding-bottom: 20px;
}

.openstudio-add-title {
    font-size: 14px;
    color: #832884;
    font-weight: bold;
    background-image: url([[pix:openstudio|add_content_rgb_32px]]);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    padding-left: 25px;
    border: none;
}

a.openstudio-add-title:hover  {
    color: #832884;
    font-weight: bold;
    text-decoration: underline;
}

.openstudio-upload-container {
    height: 137px;
    width: 100%;
    border-radius : 4px;
    border: 1px dashed #676463;
    background-image: url([[pix:openstudio|uploads_rgb_32px]]);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72px 72px;
    display: inline-block;
    margin-bottom: 35px;
}

.openstudio-content-block {
    background-color: #ffffff;
    border-radius: 4px;
    float: left;
    padding: 10px 15px 20px 15px;
    width: 215px;
    margin-left: 20px;
}

.openstudio-content-title {
    font-size: 14px;
    color: #002158;
    font-weight: bold;
}

.path-mod-openstudio select.visibility {
    background-image: url([[pix:openstudio|onlyme_rgb_32px]]);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 10px;
}

.path-mod-openstudio select.visibility_1 {
    background-image: url([[pix:openstudio|onlyme_rgb_32px]]);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 10px;
}

.path-mod-openstudio select.visibility_2 {
    background-image: url([[pix:openstudio|people_rgb_32px]]);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 10px;
}

.path-mod-openstudio select.visibility_3 {
    background-image: url([[pix:openstudio|mymodule_rgb_32px]]);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 10px;
}

.path-mod-openstudio .visibility_7 {
    background-image: url([[pix:openstudio|share_with_tutor_rgb_32px]]);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 10px;
}

.path-mod-openstudio .visibility option[value="1"] {
    background-image: url([[pix:openstudio|onlyme_rgb_32px]]);
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 25px;
}

.path-mod-openstudio .visibility option[value="2"] {
    background-image: url([[pix:openstudio|people_rgb_32px]]);
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 25px;
}

.path-mod-openstudio .visibility option[value="3"] {
    background-image: url([[pix:openstudio|mymodule_rgb_32px]]);
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 25px;
}

.path-mod-openstudio .visibility option[value="7"] {
    background-image: url([[pix:openstudio|share_with_tutor_rgb_32px]]);
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    text-indent: 25px;
}

/* Tablet. */
@media only screen and (max-device-width: 1023px) {
    .openstudio-nav-settings {
        display: none;
    }

    .openstudio-subscribe-button {
        margin-top: 4px;
        padding-right: 0px;
        margin-right: -10px;
    }

    .openstudio-rss-box {
        display: none;
    }

    .openstudio-add-dashboard-button {
        clear: right;
        float: right;
        padding-top: 10px;
        margin-right: -10px;
    }

    .openstudio-nav-primary {
        margin-top: 19px;
    }

}

/* Tablet Portrait. */
@media screen and (max-device-width: 1023px) and (orientation: portrait){
    .path-mod-openstudio .administration{
        display: none;
    }
}


/* Mobile. */
@media (max-width: 767px) {
    .path-mod-openstudio #osep-pagewrapper {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .openstudio-navigation-text {
        display: none;
    }

    .path-mod-openstudio .nav-pills > li > a {

    }

    .openstudio-nav-settings {
        display: none;
    }


    .openstudio-rss-box {
        display: none;
    }

    .openstudio-subscribe-button {
        margin-top: 0px;
        margin-right: 10px;
    }

    .openstudio-add-dashboard-button {
        clear: right;
        float: right;
        padding-top: 10px;
        margin-right: 10px;
    }

    .openstudio-nav-primary {
        margin-top: 19px;
    }

    .path-mod-openstudio .administration{
        display: none;
    }

    .openstudio-navigation-icon {
        width: 64px;
        margin-left: 0px;
    }

    .openstudio-navigation-notification-icon {
        width: 64px;
        margin-top: 8px;
    }

    .path-mod-openstudio .nav .dropdown-toggle .caret {
        display: none;
    }

    .path-mod-openstudio .nav-pills > li > a {
        height: 78px;
        margin: 0 20px 0 0;
        padding: 0px 0px 0px 8px;
        width: 72px;
    }

    .openstudio-navigation-icon {
        border: 0 none;
        margin-left: 0;
        padding-left: 0px;
        padding-top: 7px;
        width: 64px;
    }

    .openstudio-header {
        margin-top: 15px;
        margin-right: -10px;
    }

    .path-mod-openstudio .openstudio-nav-logo-wrapper {
        margin-left: 0px;
    }

    .path-mod-openstudio .osep-moduleheading {
        margin-top: -5px !important;
    }

    .openstudio-navigation-notification-text {
        font-size: 18px;
        margin-left: 40px;
        margin-top: 2px;
        width: 27px;
    }

    .path-mod-openstudio .dropdown-menu > li > a {
        font-size: 22px;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
    }

    .path-mod-openstudio .dropdown-menu {
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
    }

    .path-mod-openstudio .nav-pills .dropdown-menu {
        border-radius: 0px;
    }

    .path-mod-openstudio .shared-content .dropdown-menu {
        margin-left: -20px;
        width: 810px;
    }

    .path-mod-openstudio .my-content .dropdown-menu {
        margin-left: -250px;
        width: 810px;
    }

    .row-fluid .span4 {
        float: left !important;
        width: 40% !important;
    }

    .path-mod-openstudio .osep-moduleheading {
        margin-top: -10px !important
    }
}


/* Mobile small. */
@media (max-width: 419px) {
    .row-fluid .span4 {
        width: 100% !important;
    }

    .path-mod-openstudio .osep-moduleheading {
        margin-top: 0px !important
    }

    .openstudio-navigation-icon {
        width: 48px;
        padding-left: 6px;
    }
    .openstudio-navigation-notification-icon {
        width: 48px;
    }

    .openstudio-subscribe-button {
        float: left;
    }
    .openstudio-add-dashboard-button {
        float: left;
        clear: left;
    }

    .path-mod-openstudio .nav-pills > li > a {
        height: 60px;
        width: 60px;
        padding: 0px;
        margin: 0px;
    }

    .nav-tabs > li, .nav-pills > li {
        float: left;
        height: 60px;
        margin-right: 15px;
    }

    .openstudio-navigation-notification-icon {
        margin-top: 8px;
    }

    .openstudio-navigation-notification-text {
        font-size: 18px;
        margin-left: 32px;
        margin-top: -4px;
        width: 27px;
    }

    .path-mod-openstudio .shared-content .dropdown-menu {
       margin-top: 4px;
    }

    .path-mod-openstudio .my-content .dropdown-menu {
        margin-left: -157px;
        width: 460px;
        margin-top: 4px;
    }
}