{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/activity_content_block

    Activity Content block template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "firstname" : "Admin",
        "lastname" : "User",
        "name" : "Open Studio",
        "contentlink" : "http://example.com/mod/openstudio/content.php?id=3&sid=9",
        "contenticon" : "../../../mod/openstudio/pix/icon.svg",
        "myworkview" : false,
        "selectview" : false,
        "contentthumbnailurl" : "../../../mod/openstudio/pix/icon.svg",
        "viewuserworkurl" : "http://example.com/mod/openstudio/view.php?id=3&sid=9",
        "timemodified" : "5/10/16, 13:27",
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "commentsicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "inspirationicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "participationicon" : "../../../mod/openstudio/pix/participation_rgb_32px.svg",
        "favouriteicon" : "../../../mod/openstudio/pix/favourite_rgb_32px.svg",
        "hascontent" : false,
        "socialdatatotal" : 6,
        "socialdata" : {
            "comments" : 1,
            "commentsnew" : 1,
            "inpsired" : 2,
            "mademelaugh" : 3,
            "mademelaughnew" : 1,
            "favourite" : 0
         }
     }
}}
<div class="openstudio-grid-item-content">
    <div class="openstudio-grid-item-content-title">{{{l3name}}}</div>
    <div class="openstudio-tooltip">
        <img class="openstudio-grid-item-content-icon" src="{{{contenticon}}}" alt="{{{name}}}">
        <span class="openstudio-tooltiptext {{#isonlyme}}openstudio-tooltiptext-onlyme{{/isonlyme}}">{{itemsharewith}}</span>
    </div>
    {{#isfolder}}
        <div class ="openstudio-folder-content">
            <div class="openstudio-grid-item-content-box">
                {{>mod_openstudio/content_block_banner_status}}
            </div>
            <img class="openstudio-folder-tab" src="{{{folderdefaultthumbnail}}}" alt="{{{name}}}">
            <div class ="openstudio-folder-background">
                <a href="{{{folderlink}}}">
                    {{#hascontent}}
                        {{#thumbnailimg}}
                            <img class="openstudio-content-folder-img" src="{{{folderthumbnail}}}" alt="{{{name}}}">
                        {{/thumbnailimg}}
                        {{^thumbnailimg}}
                            <div class="openstudio-default-folder-background hascontent">
                                <img class="openstudio-default-folder-img" src="{{{folderthumbnail}}}" alt="{{{name}}}">
                            </div>
                        {{/thumbnailimg}}
                    {{/hascontent}}
                    {{^hascontent}}
                        <div class="openstudio-default-folder-background">
                            <img class="openstudio-default-folder-img" src="{{{defaultfolderimg}}}" alt="{{{name}}}">
                        </div>
                    {{/hascontent}}
                </a>
            </div>
        </div>
    {{/isfolder}}
    {{^isfolder}}
        <div class="openstudio-grid-item-content-box">
            {{>mod_openstudio/content_block_banner_status}}
        </div>
        <div class="openstudio-grid-item-content-preview{{#contenttypedefaultimage}}-default{{/contenttypedefaultimage}}">
            <a href="{{{contentlink}}}">
                {{#activitycontentempty}}
                    <div class="openstudio-upload-container">
                        <img src="{{{createcontentthumbnail}}}" alt="{{{name}}}">
                    </div>
                {{/activitycontentempty}}
                {{^activitycontentempty}}
                    <img class="openstudio-grid-item-thumbnail" src="{{{contentthumbnailurl}}}" alt="{{{name}}}">
                {{/activitycontentempty}}
            </a>
        </div>
    {{/isfolder}}

    {{#name}}
        <div class="openstudio-grid-item-content-subtitle">{{{name}}}</div>
    {{/name}}
    <div class="openstudio-grid-item-content-detail">
        <div class="openstudio-grid-item-content-detail-updated">{{datetimeupdated}}</div>
        <div class="openstudio-grid-item-content-detail-owner clearfix">
            <div class="openstudio-grid-item-content-detail-owner-img">
                <img class="defaultuserpic" src="{{{userpictureurl}}}"
                     alt="{{#str}} contentitempicture, mod_openstudio {{/str}} {{{firstname}}} {{{lastname}}}"
                     title="{{#str}} contentitempicture, mod_openstudio {{/str}} {{{firstname}}} {{{lastname}}}">
            </div>
            <div>
                <h4 class="openstudio-grid-item-content-detail-owner-name">{{{firstname}}} {{{lastname}}}</h4>
            </div>
        </div>
        {{^contentislocked}}
            {{#contentislockmessage}}
                <div class="openstudio-activity-lock-message openstudio-activity-content-lock-message">
                    {{contentislockmessage}}
                </div>
            {{/contentislockmessage}}
        {{/contentislocked}}
        {{>mod_openstudio/content_block_social}}
    </div>
</div>
