{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/add_activity_content_block

    Add activity content block template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "contentediturl": "http://exmaple/mod/openstudio/contentedit.php?id=4&lid=0&sid=0&type=0&sstsid=0",
        "l3name": "Content A",
        "isfolder" : false,
        "folderlink" : "http://example.com/mod/openstudio/folder.php?id=3&sid=9",
        "createcontentthumbnail" : "../../../mod/openstudio/pix/uploads_rgb_32px.svg"
    }

}}
<div class="openstudio-add-new-container">
{{#isfolder}}
    <div class="openstudio-add-new-folder">
    <a data-name="{{l3name}}" href="{{{contentediturl}}}" class="openstudio-actvity-title">
        {{{l3name}}}
    </a>
    </div>
    <div class ="openstudio-folder-content">
        <img class="openstudio-folder-tab" src="{{{folderthumbnail}}}" alt="{{{name}}}">
        <div class ="openstudio-folder-background">
            <a href="{{{folderlink}}}">
                <div class="openstudio-default-folder-background">
                    <img class="openstudio-default-folder-img" src="{{{defaultfolderimg}}}" alt="{{{name}}}">
                </div>
            </a>
        </div>
    </div>
{{/isfolder}}
{{^isfolder}}
    <div class="openstudio-add-new">
    <a data-name="{{l3name}}" href="{{{contentediturl}}}" class="openstudio-actvity-title">
        {{{l3name}}}
    </a>
    </div>
    <a href="{{{contentediturl}}}"><div class="openstudio-upload-container">
        <img src="{{{createcontentthumbnail}}}" alt="{{{name}}}">
    </div></a>
{{/isfolder}}
</div>
