{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/comment_item_block

    Comment item block template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none


    Example context (json):
    {
        "id": "31",
        "contentid": "20",
        "userid": "2",
        "commenttext": "Comment replied",
        "inreplyto": "23",
        "timemodified": "5/10/16, 13:27",
        "fullname": "Admin User",
        "flagcount": "0",
        "userhasflagged": "0",
        "deleteenable": "true",
        "reportenable": "false",
        "userpicturehtml": "<span class="userinitials size-16">AU</span>"
    }
}}
<div class="openstudio-comment-thread-item clearfix" data-thread-item="{{id}}" id="openstudio-comment-{{id}}">
    <div class="openstudio-comment-leftcolumn openstudio-comment-owner">
        {{{userpicturehtml}}}
        <div class="openstudio-comment-info">
            <span class="openstudio-comment-owner-name">{{fullname}}</span>
            <span class="openstudio-comment-time">{{timemodified}}</span>
        </div>
    </div>
    <div class="openstudio-comment-rightcolumn openstudio-comment-text">
        {{{commenttext}}}
    </div>
    <div class="openstudio-comment-metadata">
        {{#donotexport}}
            <div class="openstudio-comment-leftcolumn">
                <input name="replycommentbutton" type="button" data-comment-parent="
                {{#inreplyto}} {{inreplyto}} {{/inreplyto}}
                    {{^inreplyto}} {{id}} {{/inreplyto}}"
                       value="{{#str}} contentcommentsreply, mod_openstudio {{/str}}"
                       class="openstudio-content-actions osep-smallbutton btn btn-secondary
                    {{#contentcommentlocked}} locked {{/contentcommentlocked}}"
                >
            </div>
        {{/donotexport}}
        <div class="openstudio-comment-rightcolumn">
            {{#contentcommentlikeenabled}}
                <div class="openstudio-comment-flag">
                    {{#flagcount}}
                        <span class="openstudio-comment-flag-status flagged">
                            {{#pix}}
                                participation_btn_like, openstudio, {{#str}} contentcommentliked, openstudio {{/str}}
                            {{/pix}}
                            {{#donotexport}}
                                <sup class="openstudio-comment-flag-count
                                {{#flagcount}}
                                flagged
                                {{/flagcount}}
                                ">{{flagcount}}</sup>
                            {{/donotexport}}
                            {{^donotexport}}
                                {{#flagcount}}
                                    <sup class="openstudio-comment-flag-count
                                    {{#flagcount}}
                                    flagged
                                    {{/flagcount}}
                                    ">{{flagcount}}</sup>
                                {{/flagcount}}
                            {{/donotexport}}
                        </span>
                        {{#donotexport}}
                            <span class="openstudio-comment-flag-status unflagged openstudio-hidden">
                                {{#pix}}
                                    participation_btn_like, openstudio, {{#str}}
                                    contentcommentnotliked, openstudio {{/str}}
                                {{/pix}}
                                <sup class="openstudio-comment-flag-count
                                {{#flagcount}}
                                flagged
                                {{/flagcount}}
                                ">{{flagcount}}</sup>
                            </span>
                        {{/donotexport}}
                    {{/flagcount}}
                    {{^flagcount}}
                        {{#donotexport}}
                            <span class="openstudio-comment-flag-status flagged openstudio-hidden">
                                {{#pix}}
                                    participation_btn_like, openstudio, {{#str}}
                                    contentcommentliked, openstudio {{/str}}
                                {{/pix}}
                                <sup class="openstudio-comment-flag-count
                                {{#flagcount}}
                                flagged
                                {{/flagcount}}
                                ">{{flagcount}}</sup>
                            </span>
                            <span class="openstudio-comment-flag-status unflagged">
                            {{#pix}}
                                participation_btn_like, openstudio, {{#str}} contentcommentnotliked, openstudio {{/str}}
                            {{/pix}}
                                <sup class="openstudio-comment-flag-count
                            {{#flagcount}}
                            flagged
                            {{/flagcount}}
                            ">{{flagcount}}</sup>
                        </span>
                        {{/donotexport}}
                    {{/flagcount}}
                    {{#donotexport}}
                        <a class="openstudio-comment-flag-link openstudio-content-actions
                                {{#contentcommentlocked}} locked {{/contentcommentlocked}}"
                           href="" data-comment-id="{{id}}">
                                <span class="openstudio-comment-like-long-link {{#userhasflagged}}openstudio-hidden{{/userhasflagged}}">
                                    {{#str}} contentcommentlike, mod_openstudio {{/str}}
                                </span>
                            <span class="openstudio-comment-like-short-link {{#userhasflagged}}openstudio-hidden{{/userhasflagged}}">
                                {{#str}} contentcommentlikeshort, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-comment-unlike-long-link {{^userhasflagged}}openstudio-hidden{{/userhasflagged}}">
                                {{#str}} contentcommentunlike, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-comment-unlike-short-link {{^userhasflagged}}openstudio-hidden{{/userhasflagged}}">
                                {{#str}} contentcommentunlikeshort, mod_openstudio {{/str}}
                            </span>
                        </a>
                    {{/donotexport}}
                </div>
            {{/contentcommentlikeenabled}}

            {{#deleteenable}}
                {{#donotexport}}
                    <div class="openstudio-comment-action">
                        <a class="openstudio-comment-delete-link openstudio-content-actions
                            {{#contentcommentlocked}} locked {{/contentcommentlocked}}"
                           href="" data-comment-id="{{id}}">
                            <span class="openstudio-comment-delete-long-link">
                                {{#str}} contentcommentsdelete, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-comment-delete-short-link">
                                {{#str}} contentcommentsdeleteshort, mod_openstudio {{/str}}
                            </span>
                        </a>
                    </div>
                {{/donotexport}}
            {{/deleteenable}}
            {{#reportenable}}
                <div class="openstudio-comment-action">
                    <a class="openstudio-comment-report-link openstudio-content-actions
                        {{#contentcommentlocked}} locked {{/contentcommentlocked}}"
                       href="{{reportabuselink}}">
                        <span class="openstudio-comment-report-long-link">
                            {{#str}} contentcommentsreport, mod_openstudio {{/str}}
                        </span>
                        <span class="openstudio-comment-report-short-link">
                            {{#str}} contentcommentsreportshort, mod_openstudio {{/str}}
                        </span>
                    </a>
                </div>
            {{/reportenable}}
        </div>
    </div>
</div>
