{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_block

    Content block template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "firstname" : "Admin",
        "lastname" : "User",
        "name" : "Open Studio",
        "contentlink" : "http://example.com/mod/openstudio/content.php?id=3&sid=9",
        "contentthumbnailurl" : "../../../mod/openstudio/pix/icon.svg",
        "viewuserworkurl" : "http://example.com/mod/openstudio/view.php?id=3&sid=9",
        "timemodified" : "5/10/16, 13:27",
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "commentsicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "inspirationicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "participationicon" : "../../../mod/openstudio/pix/participation_rgb_32px.svg",
        "favouriteicon" : "../../../mod/openstudio/pix/favourite_rgb_32px.svg",
        "socialdata" : {
            "commentsnew" : 1,
            "inspirednew" : 2,
            "mademelaughnew" : 3,
            "favouritenew" : 0
         }
     }
}}
<div class="openstudio-grid-item-content">
    <div class="openstudio-grid-item-content-title">{{{ name }}}</div>
    <div class="openstudio-grid-item-content-preview">
        <a href="{{{ contentlink }}}">
            <img class="" src="{{{ contentthumbnailurl }}}" alt="{{{ name }}}">
        </a>
    </div>
    <div class="openstudio-grid-item-content-detail">
        <div class="openstudio-grid-item-content-detail-updated">{{ datetimeupdated }}</div>
        <div class="openstudio-grid-item-content-detail-owner">
            <div class="openstudio-grid-item-content-detail-owner-img">
                <img class="defaultuserpic" src="{{{ userpictureurl }}}"
                     alt="{{# str }} contentitempicture, mod_openstudio {{/ str }} {{{ firstname }}} {{{ lastname }}}"
                     title="{{# str }} contentitempicture, mod_openstudio {{/ str }} {{{ firstname }}} {{{ lastname }}}">
            </div>
            <div>
                <h4 class="openstudio-grid-item-content-detail-owner-name">{{{ firstname }}} {{{ lastname }}}</h4>
                <a class="openstudio-grid-item-content-detail-owner-view" href="{{{ viewuserworkurl }}}">
                    {{# str }} contentitemview, mod_openstudio {{/ str }}
                    {{{ firstname }}}’s
                    {{# str }} contentitemwork, mod_openstudio {{/ str }}
                </a>
            </div>
        </div>
        {{# socialdata }}
            <div class="openstudio-grid-item-content-detail-info">
               <span class="openstudio-grid-item-content-detail-info-box">
                    <span>
                        <img src="{{ commentsicon }}"
                             alt="{{#str}} commentslabel, openstudio {{/str}}"
                             class="openstudio-grid-item-content-detail-info-icon" />
                    </span>
                    <span class="openstudio-grid-item-content-detail-info-text">
                        {{# commentsnew }} {{ commentsnew }} {{/ commentsnew }}
                    </span>
               </span>
               <span class="openstudio-grid-item-content-detail-info-box">
                    <span>
                        <img src="{{ inspirationicon }}"
                             alt="{{#str}} inspirationlabel, openstudio {{/str}}"
                             class="openstudio-grid-item-content-detail-info-icon" />
                    </span>
                    <span class="openstudio-grid-item-content-detail-info-text">
                        {{# inspirednew }} {{ inspirednew }} {{/ inspirednew }}
                    </span>
               </span>
               <span class="openstudio-grid-item-content-detail-info-box">
                    <span>
                        <img src="{{ participationicon }}"
                             alt="{{#str}} participationlabel, openstudio {{/str}}"
                             class="openstudio-grid-item-content-detail-info-icon" />
                    </span>
                    <span class="openstudio-grid-item-content-detail-info-text">
                        {{# mademelaughnew }} {{ mademelaughnew }} {{/ mademelaughnew }}
                    </span>
               </span>
               <span class="openstudio-grid-item-content-detail-info-box">
                    <span>
                        <img src="{{ favouriteicon }}"
                             alt="{{#str}} favouritelabel, openstudio {{/str}}"
                             class="openstudio-grid-item-content-detail-info-icon" />
                    </span>
                    <span class="openstudio-grid-item-content-detail-info-text">
                        {{# favouritenew }} {{ favouritenew }} {{/ favouritenew }}
                    </span>
               </span>
            </div>
        {{/ socialdata }}
    </div>
</div>