{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_page

    Content detail template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none


    Example context (json):
    {
        "placeholdertext" : "My module",
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "activedate" : "5/10/16, 19:22",
        "flagscontentread" : "100",
        "percentcompleted" : "70",
        "contentdataname": "Film studies 2016 – The Jungle Book",
        "contenttypeimage": true,
        "contentfileurl": "../../../mod/openstudio/pix/viewed_rgb_32px.svg",
        "contentdatadate" : "5/10/16, 19:22",
        "description": "Description show here",
        "contentflagfavouriteactive" : true,
        "contentfavouritetotal" : 5,
        "contentsmiletotal" : 0,
        "contentinspiretotal" : 0,
        "contentcopyenable" : true,
        "profilebarenable": true
    }
}}
{{#contentmapenable}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{{/contentmapenable}}
<div class="openstudio-container">
    {{#profilebarenable}}
        <div class="openstudio-module-title">
            <h1>{{{placeholdertext}}}</h1>
        </div>
        <div class="openstudio-filter clearfix">
           {{>mod_openstudio/profile_bar}}
        </div>
    {{/profilebarenable}}
    <div class="openstudio-content-view-container clearfix">
        <div class="openstudio-content-view-primary">
            <div class="openstudio-content-view-title openstudio-content-view-title-icon-{{{contentvisibilityicon}}}">
                {{{contentdataname}}}
            </div>
        </div>
        <div class="openstudio-content-view-primary" id="openstudio_content_view_primary">
            <div class="openstudio-content-view-file">
                {{#contenttypenone}}
                    <a href="{{contentfileurl}}">{{#str}} contentclicktoeditemptycontent, mod_openstudio {{/str}}</a>
                {{/contenttypenone}}

                {{#contenttypedownloadfile}}
                    <div><a href="{{contentfileurl}}">{{#str}} contentcontentdownload, mod_openstudio {{/str}}</a></div>
                {{/contenttypedownloadfile}}

                {{#contenttypeuseimagedefault}}
                    <div class="openstudio-content-view-type-img-box">
                        <img class="openstudio-content-view-type-img"
                             src="{{{contenttypeiconurl}}}" alt="{{{contentdatatitle}}}">
                    </div>
                {{/contenttypeuseimagedefault}}

                {{#contenttypefileurl}}
                    <div><a href="{{contentfileurl}}">{{#str}} contentcontentweblink, mod_openstudio {{/str}}</a></div>
                {{/contenttypefileurl}}

                {{#contenttypeimage}}
                    <a href="{{contentfileurl}}">
                        <img src="{{{contentfileurl}}}" alt="{{{contentdatatitle}}}">
                    </a>
                {{/contenttypeimage}}

                {{#contenttypemedia}}
                    <div>{{{contentdatahtml}}}</div>
                {{/contenttypemedia}}

                {{#contenttypeembed}}
                    {{{contentdatahtml}}}
                {{/contenttypeembed}}

                {{#contenttypeiframe}}
                    <iframe class="openstudio-content-view-iframe" name="openstudio-content-view-iframe"
                            src="{{contentiframesrc}}" sandbox=""></iframe>
                {{/contenttypeiframe}}
            </div>
            <div class="openstudio-content-view-date-box clearfix">
                <div class="openstudio-content-view-date">{{contentdatadate}}</div>
                {{#maximizeenable}}
                    <div class="openstudio-content-view-maximize-box">
                        <a id="openstudio_content_view_maximize"
                           class="openstudio-content-view-maximize">
                            {{#pix}}
                                maximize_blue_rgb_32px, openstudio, {{#str}} contentviewmaximise, openstudio {{/str}}
                            {{/pix}}
                            {{#str}} contentviewmaximise, mod_openstudio {{/str}}
                        </a>
                    </div>
                {{/maximizeenable}}
            </div>
            {{#l3name}}
                <div class="openstudio-content-view-subtitle">{{name}}</div>
            {{/l3name}}
            <div class="openstudio-content-view-description">{{{description}}}</div>
            <div class="openstudio-content-view-tags-container clearfix">
                <div class="openstudio-content-view-tags">
                    <ul class="openstudio-content-view-tag-item">
                        {{#tagsraw}}
                            <li class="openstudio-content-view-tag">
                                <a href="{{{taglink}}}">{{{tagname}}}</a>
                            </li>
                        {{/tagsraw}}
                    </ul>
                </div>
                <div class="openstudio-content-view-archive">
                    <input id="id_archivebutton" name="archivebutton"
                           value="{{#str}}contentactionarchivepost, mod_openstudio{{/str}}" type="button">
                    <input id="id_reportbutton" name="reportbutton"
                           value="{{#str}}contentactionreportpost, mod_openstudio{{/str}}" type="button">
                </div>
            </div>
            <div class="openstudio-content-view-animation-icons clearfix">
                <div class="openstudio-content-view-animation-icons-left">
                    <a id="content_view_icon_{{contentflagfavourite}}"
                        data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagfavourite}}"
                        data-mode="{{#contentflagfavouriteactive}}off{{/contentflagfavouriteactive}}
                                    {{^contentflagfavouriteactive}}on{{/contentflagfavouriteactive}}"
                        class="openstudio-content-view-flag-icon openstudio-content-view-icon-favourite
                                    {{#contentflagfavouriteactive}}
                                        openstudio-content-view-icon-favourite-active
                                    {{/contentflagfavouriteactive}}">
                        {{#str}}
                            contentflagxfavourites, mod_openstudio,
                            { "number": {{#quote}}{{contentfavouritetotal}}{{/quote}} }
                        {{/str}}
                    </a>
                    <a id="content_view_icon_{{contentflagsmile}}"
                        data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagsmile}}"
                        data-mode="{{#contentflagsmileactive}}off{{/contentflagsmileactive}}
                           {{^contentflagsmileactive}}on{{/contentflagsmileactive}}"
                        class="openstudio-content-view-flag-icon openstudio-content-view-icon-participation
                                    {{#contentflagsmileactive}}
                                        openstudio-content-view-icon-participation-active
                                    {{/contentflagsmileactive}}">
                        {{#str}}
                            contentflagxsmiles, mod_openstudio, { "number": {{#quote}}{{contentsmiletotal}}{{/quote}} }
                        {{/str}}
                    </a>
                    <a id="content_view_icon_{{contentflaginspire}}"
                        data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflaginspire}}"
                        data-mode="{{#contentflaginspireactive}}off{{/contentflaginspireactive}}
                           {{^contentflaginspireactive}}on{{/contentflaginspireactive}}"
                        class="openstudio-content-view-flag-icon openstudio-content-view-icon-inspiration
                                    {{#contentflaginspireactive}}
                                        openstudio-content-view-icon-inspiration-active
                                    {{/contentflaginspireactive}}">
                        {{#str}}
                            contentflagxinspired, mod_openstudio, { "number": {{#quote}}{{contentinspiretotal}}{{/quote}} }
                        {{/str}}
                    </a>
               </div>
                <div class="openstudio-content-view-animation-icons-right">
                    {{#contentcopyenable}}
                        <span class="openstudio-content-view-flag-icon openstudio-content-view-icon-copies-active">
                            {{#str}}
                                contentflagxcopies, mod_openstudio, { "number": {{#quote}}{{contentcopycount}}{{/quote}} }
                            {{/str}}
                        </span>
                    {{/contentcopyenable}}
                    <span
                        class="openstudio-content-view-flag-icon openstudio-content-view-icon-views
                                    {{#contentviewtotal}}openstudio-content-view-icon-views-active{{/contentviewtotal}}">
                        {{#str}}
                            contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                        {{/str}}
                    </span>
                </div>
            </div>
            <div class="openstudio-content-view-actions clearfix">
                <div class="openstudio-content-view-actions-icons-left">
                    {{#contenteditenable}}
                        <a href="{{{contenteditlink}}}" class="openstudio-content-view-edit-button-link">
                            <input id="id_editbutton" name="editbutton" class="openstudio-content-view-edit-button"
                                   value="{{#str}}contentactioneditname, mod_openstudio{{/str}}" type="button">
                        </a>
                    {{/contenteditenable}}
                    {{#contentdeleteenable}}
                        <input id="id_deletebutton" name="deletebutton" class="openstudio-content-view-delete-button"
                               value="{{#str}}contentactiondelete, mod_openstudio{{/str}}" type="button">
                    {{/contentdeleteenable}}
                    {{#contentlockenable}}
                        <a href="{{{contentlocklink}}}">
                            <input id="id_lockbutton" name="lockbutton"
                                   value="{{#str}}contentactionlockname, mod_openstudio{{/str}}" type="button">
                        </a>
                    {{/contentlockenable}}
                </div>
                <div class="openstudio-content-view-actions-icons-right">
                    {{#contentrequestfeedbackenable}}
                        <input id="id_requestfeedbackbutton" class="openstudio-request-feedback-button"
                               value="{{#str}}contentflagaskforhelp, mod_openstudio{{/str}}" type="button">
                    {{/contentrequestfeedbackenable}}
                </div>
            </div>
            {{#contentcommentenable}}
                <div class="openstudio-content-view-add-comment">
                    <input id="id_addcomment" name="addcommentbutton"
                           value="{{#str}}contentcommentsaddnewcomment, mod_openstudio{{/str}}" type="button">
                </div>
            {{/contentcommentenable}}
        </div>
        <div class="openstudio-content-view-secondary">
            <div id="openstudio_content_view_post_owner_heading" class="openstudio-content-view-block collapsed"
                 data-toggle="collapse"
                 data-target="#openstudio_content_view_post_owner">
                <span>{{#str}} contentviewownerpost, mod_openstudio {{/str}}</span>
            </div>
            <div id="openstudio_content_view_post_owner" class="openstudio-content-view-block-content
                openstudio-content-view-block-post-owner collapse clearfix">
                <div class="openstudio-content-view-user-picture">
                    <img src="{{{userpictureurl}}}">
                </div>
                <div class="openstudio-content-view-user-info">
                    <h4 class="openstudio-content-view-user-info-name">{{{firstname}}} {{{lastname}}}</h4>
                    <a class="openstudio-content-view-user-info-view" href="{{{viewuserworkurl}}}">
                        {{#str}} contentitemview, mod_openstudio {{/str}}
                        {{{firstname}}}’s
                        {{#str}} contentitemwork, mod_openstudio {{/str}}
                    </a>
                </div>
            </div>
            {{#hascontentversions}}
                <div class="openstudio-content-view-block collapsed" data-toggle="collapse"
                     data-target="#openstudio_content_view_post_archive">
                    <span>{{#str}} contentviewpostarchive, mod_openstudio {{/str}}</span>
                </div>
                <div id="openstudio_content_view_post_archive"
                        class="openstudio-content-view-block-content openstudio-content-view-version collapse clearfix">
                    {{#contentversions}}
                        <div class="openstudio-content-view-version-detail clearfix">
                            <span class="openstudio-content-view-version-img"><img src="{{{contenttypeiconurl}}}"></span>
                            <span class="openstudio-content-view-version-info">
                                <h4 class="openstudio-content-view-version-info-name">{{{name}}}</h4>
                                <span class="openstudio-content-view-version-date">{{contentdatadate}}</span>
                            </span>
                            <span class="openstudio-content-view-version-actions clearfix">
                                <a href="{{{contentviewversionlink}}}" class="openstudio-content-view-version-button-link">
                                <input id="id_viewversionbutton" name="viewversionbutton"
                                       class="openstudio-content-view-version-button"
                                   value="{{#str}}contentactionview, mod_openstudio{{/str}}" type="button">
                                </a>
                                {{#contentdeleteenable}}
                                    <input id="id_deleteversionbutton" name="deleteversionbutton"
                                           value="{{#str}}contentactiondelete, mod_openstudio{{/str}}" type="button">
                                {{/contentdeleteenable}}
                            </span>
                        </div>
                    {{/contentversions}}
                </div>
            {{/hascontentversions}}
            {{#contentmetadataenable}}
                <div class="openstudio-content-view-block collapsed" data-toggle="collapse"
                     data-target="#openstudio_content_view_post_image_meta_data">
                    <span>{{#str}} contentviewimagemetadata, mod_openstudio {{/str}}</span>
                </div>
                <div id="openstudio_content_view_post_image_meta_data"
                     class="openstudio-content-view-block-content openstudio-content-view-image-metadata collapse">
                    <div class="openstudio-content-view-metadata-info">
                        <span class="openstudio-content-view-image-data-label">
                            {{#str}} contentviewimagemakemodel, mod_openstudio {{/str}}
                        </span>
                        <span class="openstudio-content-view-image-data-value">
                            {{metadatamake}}{{#metadatamodel}}/{{metadatamodel}}{{/metadatamodel}}
                        </span>
                    </div>
                    <div class="openstudio-content-view-metadata-info">
                        <span class="openstudio-content-view-image-data-label">
                            {{#str}} contentviewimagefocal, mod_openstudio {{/str}}
                        </span>
                        <span class="openstudio-content-view-image-data-value">
                            {{metadatafocal}}
                        </span>
                    </div>
                    <div class="openstudio-content-view-metadata-info">
                        <span class="openstudio-content-view-image-data-label">
                            {{#str}} contentviewimageexposure, mod_openstudio {{/str}}
                        </span>
                        <span class="openstudio-content-view-image-data-value">
                            {{metadataexposure}}
                        </span>
                    </div>
                    <div class="openstudio-content-view-metadata-info">
                        <span class="openstudio-content-view-image-data-label">
                            {{#str}} contentviewimageaperture, mod_openstudio {{/str}}
                        </span>
                        <span class="openstudio-content-view-image-data-value">
                            {{metadataaperture}}
                        </span>
                    </div>
                    <div class="openstudio-content-view-metadata-info">
                        <span class="openstudio-content-view-image-data-label">
                            {{#str}} contentviewimageiso, mod_openstudio {{/str}}
                        </span>
                        <span class="openstudio-content-view-image-data-value">
                            {{metadataiso}}
                        </span>
                    </div>
                </div>
            {{/contentmetadataenable}}
            {{#contentmapenable}}
                <div class="openstudio-content-view-block collapsed" data-toggle="collapse"
                     data-target="#openstudio_content_view_post_image_location">
                    <span>{{#str}} contentviewimagelocation, mod_openstudio {{/str}}</span>
                </div>
                <div id="openstudio_content_view_post_image_location"
                     class="openstudio-content-view-block-content collapse">
                    <div id="openstudio_content_view_map_canvas"
                         data-gpslat="{{contentgpslat}}" data-gpslng="{{contentgpslng}}"></div>
                </div>
            {{/contentmapenable}}
        </div>
    </div>
</div>
