{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_flags

    Content detail template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none


    Example context (json):
    {
        "contentflagfavouriteactive" : true,
        "contentfavouritetotal" : 5,
        "contentsmiletotal" : 0,
        "contentinspiretotal" : 0,
        "contentcopyenable" : true,
        "contentflagfavouriteenabled" : true,
        "contentflagsmileenabled" : true,
        "contentflaginspirenabled" : true
    }
}}
<div class="openstudio-content-view-animation-icons clearfix openstudio-content-actions
        {{#contentflaglocked}} locked {{/contentflaglocked}}">
    <div class="openstudio-content-view-animation-icons-left">
    {{#donotexport}}
        {{#contentflagfavouriteenabled}}
                <a id="content_view_icon_{{contentflagfavourite}}"
               href=""
               data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagfavourite}}"
               {{#contentflagfavouriteactive}}data-mode="off"{{/contentflagfavouriteactive}}
               {{^contentflagfavouriteactive}}data-mode="on"{{/contentflagfavouriteactive}}
               {{#contentflagfavouriteactive}}
                   title="{{#str}} contentclicktounfavourite, openstudio {{/str}}"
               {{/contentflagfavouriteactive}}
               {{^contentflagfavouriteactive}}
                   title="{{#str}} contentclicktofavourite, openstudio {{/str}}"
               {{/contentflagfavouriteactive}}
               class="openstudio-content-view-flag-icon openstudio-content-view-icon-favourite has-hover
                        {{#contentflagfavouriteactive}}
                            openstudio-content-view-icon-active
                        {{/contentflagfavouriteactive}}">
                <span class="openstudio-content-view-icon-active-image">
                    {{#pix}}
                        favourite_btn_blue_rgb_32px, openstudio, {{#str}} contentclicktofavourite, openstudio {{/str}}
                    {{/pix}}
                </span>
                <span class="openstudio-content-view-icon-inactive-image">
                    {{#pix}}
                        favourite_btn_grey_rgb_32px, openstudio, {{#str}} contentclicktounfavourite, openstudio {{/str}}
                    {{/pix}}
                </span>
                <span class="openstudio-content-view-icon-text">
                    {{#str}}
                        contentflagxfavourites, mod_openstudio,
                        { "number": {{#quote}}{{contentfavouritetotal}}{{/quote}} }
                    {{/str}}
                </span>
            </a>
            {{/contentflagfavouriteenabled}}
        {{/donotexport}}
        {{^donotexport}}
            {{#contentflagfavouriteenabled}}
                <span id="content_view_icon_{{contentflagfavourite}}"
                   href=""
                   data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagfavourite}}"
                   {{#contentflagfavouriteactive}}data-mode="off"{{/contentflagfavouriteactive}}
                    {{^contentflagfavouriteactive}}data-mode="on"{{/contentflagfavouriteactive}}
                    {{#contentflagfavouriteactive}}
                   title="{{#str}} contentclicktounfavourite, openstudio {{/str}}"
                    {{/contentflagfavouriteactive}}
                    {{^contentflagfavouriteactive}}
                   title="{{#str}} contentclicktofavourite, openstudio {{/str}}"
                    {{/contentflagfavouriteactive}}
                   class="openstudio-content-view-flag-icon openstudio-content-view-icon-favourite has-hover
                        {{#contentflagfavouriteactive}}
                            openstudio-content-view-icon-active
                        {{/contentflagfavouriteactive}}">
                    {{#contentfavouritetotaldonotexport}}
                        <span class="openstudio-content-view-icon-active-image">
                            {{#pix}}
                                favourite_btn_blue_rgb_32px, openstudio, {{#str}} contentclicktofavourite, openstudio {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentfavouritetotaldonotexport}}
                    {{^contentfavouritetotaldonotexport}}
                        <span class="openstudio-content-view-icon-inactive-image">
                            {{#pix}}
                                favourite_btn_grey_rgb_32px, openstudio, {{#str}} contentclicktounfavourite, openstudio {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentfavouritetotaldonotexport}}
                    <span class="openstudio-content-view-icon-text">
                        {{#str}}
                            contentflagxfavourites, mod_openstudio,
                        { "number": {{#quote}}{{contentfavouritetotal}}{{/quote}} }
                        {{/str}}
                    </span>
                </span>
            {{/contentflagfavouriteenabled}}
        {{/donotexport}}
        {{#donotexport}}
            {{#contentflagsmileenabled}}
                <a id="content_view_icon_{{contentflagsmile}}"
                   href=""
                   data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagsmile}}"
                   {{#contentflagsmileactive}}data-mode="off"{{/contentflagsmileactive}}
                    {{^contentflagsmileactive}}data-mode="on"{{/contentflagsmileactive}}
                    {{#contentflagsmileactive}}
                   title="{{#str}} contentclicktounsmile, openstudio {{/str}}"
                    {{/contentflagsmileactive}}
                    {{^contentflagsmileactive}}
                   title="{{#str}} contentclicktosmile, openstudio {{/str}}"
                    {{/contentflagsmileactive}}
                   class="openstudio-content-view-flag-icon openstudio-content-view-icon-participation has-hover
                    {{#contentflagsmileactive}}
                        openstudio-content-view-icon-active
                    {{/contentflagsmileactive}}">
            <span class="openstudio-content-view-icon-active-image">
                {{#pix}}
                    participation_btn_blue_rgb_32px, openstudio, {{#str}} contentclicktounsmile, openstudio {{/str}}
                {{/pix}}
            </span>
                    <span class="openstudio-content-view-icon-inactive-image">
                        {{#pix}}
                            participation_btn_grey_rgb_32px, openstudio, {{#str}} contentclicktosmile, openstudio {{/str}}
                        {{/pix}}
                    </span>
                    <span class="openstudio-content-view-icon-text">
                        {{#str}}
                            contentflagxsmiles, mod_openstudio, { "number": {{#quote}}{{contentsmiletotal}}{{/quote}} }
                        {{/str}}
                    </span>
                </a>
            {{/contentflagsmileenabled}}
        {{/donotexport}}
        {{^donotexport}}
            {{#contentflagsmileenabled}}
                <span id="content_view_icon_{{contentflagsmile}}"
                   href=""
                   data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagsmile}}"
                   {{#contentflagsmileactive}}data-mode="off"{{/contentflagsmileactive}}
                    {{^contentflagsmileactive}}data-mode="on"{{/contentflagsmileactive}}
                    {{#contentflagsmileactive}}
                   title="{{#str}} contentclicktounsmile, openstudio {{/str}}"
                    {{/contentflagsmileactive}}
                    {{^contentflagsmileactive}}
                   title="{{#str}} contentclicktosmile, openstudio {{/str}}"
                    {{/contentflagsmileactive}}
                   class="openstudio-content-view-flag-icon openstudio-content-view-icon-participation has-hover
                    {{#contentflagsmileactive}}
                        openstudio-content-view-icon-active
                    {{/contentflagsmileactive}}">
                    {{#contentsmiletotaldonotexport}}
                        <span class="openstudio-content-view-icon-active-image">
                            {{#pix}}
                                participation_btn_blue_rgb_32px, openstudio, {{#str}} contentclicktounsmile, openstudio {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentsmiletotaldonotexport}}
                    {{^contentsmiletotaldonotexport}}
                        <span class="openstudio-content-view-icon-inactive-image">
                            {{#pix}}
                                participation_btn_grey_rgb_32px, openstudio, {{#str}} contentclicktosmile, openstudio {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentsmiletotaldonotexport}}
                    <span class="openstudio-content-view-icon-text">
                        {{#str}}
                            contentflagxsmiles, mod_openstudio, { "number": {{#quote}}{{contentsmiletotal}}{{/quote}} }
                        {{/str}}
                    </span>
                </span>
            {{/contentflagsmileenabled}}
        {{/donotexport}}
        {{#donotexport}}
            {{#contentflaginspirenabled}}
                <a id="content_view_icon_{{contentflaginspire}}"
                   href=""
                   data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflaginspire}}"
                   {{#contentflaginspireactive}}data-mode="off"{{/contentflaginspireactive}}
                    {{^contentflaginspireactive}}data-mode="on"{{/contentflaginspireactive}}
                    {{#contentflaginspireactive}}
                   title="{{#str}} contentclicktouninspire, openstudio {{/str}}"
                    {{/contentflaginspireactive}}
                    {{^contentflaginspireactive}}
                   title="{{#str}} contentclicktoinspire, openstudio {{/str}}"
                    {{/contentflaginspireactive}}
                   class="openstudio-content-view-flag-icon openstudio-content-view-icon-inspiration has-hover
                    {{#contentflaginspireactive}}
                        openstudio-content-view-icon-active
                    {{/contentflaginspireactive}}">
            <span class="openstudio-content-view-icon-active-image">
                {{#pix}}
                    inspiration_btn_blue_rgb_32px, openstudio, {{#str}} contentclicktoinspire, openstudio {{/str}}
                {{/pix}}
            </span>
                    <span class="openstudio-content-view-icon-inactive-image">
                        {{#pix}}
                            inspiration_btn_grey_rgb_32px, openstudio, {{#str}} contentclicktouninspire, openstudio {{/str}}
                        {{/pix}}
                    </span>
                    <span class="openstudio-content-view-icon-text">
                        {{#str}}
                            contentflagxinspired, mod_openstudio, { "number": {{#quote}}{{contentinspiretotal}}{{/quote}} }
                        {{/str}}
                    </span>
                </a>
            {{/contentflaginspirenabled}}
        {{/donotexport}}
        {{^donotexport}}
            {{#contentflaginspirenabled}}
                <span id="content_view_icon_{{contentflaginspire}}"
                   href=""
                   data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflaginspire}}"
                   {{#contentflaginspireactive}}data-mode="off"{{/contentflaginspireactive}}
                    {{^contentflaginspireactive}}data-mode="on"{{/contentflaginspireactive}}
                    {{#contentflaginspireactive}}
                   title="{{#str}} contentclicktouninspire, openstudio {{/str}}"
                    {{/contentflaginspireactive}}
                    {{^contentflaginspireactive}}
                   title="{{#str}} contentclicktoinspire, openstudio {{/str}}"
                    {{/contentflaginspireactive}}
                   class="openstudio-content-view-flag-icon openstudio-content-view-icon-inspiration has-hover
                    {{#contentflaginspireactive}}
                        openstudio-content-view-icon-active
                    {{/contentflaginspireactive}}">
                    {{#contentinspiretotaldonotexport}}
                        <span class="openstudio-content-view-icon-active-image">
                            {{#pix}}
                                inspiration_btn_blue_rgb_32px, openstudio, {{#str}} contentclicktoinspire, openstudio {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentinspiretotaldonotexport}}
                    {{^contentinspiretotaldonotexport}}
                        <span class="openstudio-content-view-icon-inactive-image">
                            {{#pix}}
                                inspiration_btn_grey_rgb_32px, openstudio, {{#str}} contentclicktouninspire, openstudio {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentinspiretotaldonotexport}}
                    <span class="openstudio-content-view-icon-text">
                        {{#str}}
                            contentflagxinspired, mod_openstudio, { "number": {{#quote}}{{contentinspiretotal}}{{/quote}} }
                        {{/str}}
                    </span>
                </span>
            {{/contentflaginspirenabled}}
        {{/donotexport}}
        <span class="openstudio-content-view-animation-icons-right">
            {{#contentcopyenable}}
                <span class="openstudio-content-view-flag-icon openstudio-content-view-icon-copies openstudio-content-view-icon-active">
                    <span class="openstudio-content-view-icon-active-image">
                        {{#pix}}
                            copies_btn_blue_rgb_32px, openstudio,
                            {{#str}}
                                contentflagxcopies, mod_openstudio, { "number": {{#quote}}{{contentcopycount}}{{/quote}} }
                            {{/str}}
                        {{/pix}}
                    </span>
                    {{#str}}
                        contentflagxcopies, mod_openstudio, { "number": {{#quote}}{{contentcopycount}}{{/quote}} }
                    {{/str}}
                </span>
            {{/contentcopyenable}}
            {{#donotexport}}
                <span class="openstudio-content-view-flag-icon openstudio-content-view-icon-views
                    {{#contentviewtotal}}openstudio-content-view-icon-active{{/contentviewtotal}}">
                <span class="openstudio-content-view-icon-active-image">
                    {{#pix}}
                        viewed_btn_blue_rgb_32px, openstudio,
                        {{#str}}
                            contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                        {{/str}}
                    {{/pix}}
                </span>
                <span class="openstudio-content-view-icon-inactive-image">
                    {{#pix}}
                        viewed_btn_grey_rgb_32px, openstudio,
                        {{#str}}
                            contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                        {{/str}}
                    {{/pix}}
                </span>
                    {{#str}}
                        contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                    {{/str}}
            </span>
            {{/donotexport}}
            {{^donotexport}}
                <span class="openstudio-content-view-flag-icon openstudio-content-view-icon-views
                    {{#contentviewtotal}}openstudio-content-view-icon-active{{/contentviewtotal}}">
                    {{#contentviewtotal}}
                        <span class="openstudio-content-view-icon-active-image">
                            {{#pix}}
                                viewed_btn_blue_rgb_32px, openstudio,
                                {{#str}}
                                    contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                                {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentviewtotal}}
                    {{^contentviewtotal}}
                        <span class="openstudio-content-view-icon-inactive-image">
                            {{#pix}}
                                viewed_btn_grey_rgb_32px, openstudio,
                                {{#str}}
                                    contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                                {{/str}}
                            {{/pix}}
                        </span>
                    {{/contentviewtotal}}
                    {{#str}}
                        contentflagxviews, mod_openstudio, { "number": {{#quote}}{{contentviewtotal}}{{/quote}} }
                    {{/str}}
                </span>
            {{/donotexport}}

        </span>
    </div>
</div>
