{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_block

    Content block template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "firstname" : "Admin",
        "lastname" : "User",
        "name" : "Open Studio",
        "contentlink" : "http://example.com/mod/openstudio/content.php?id=3&sid=9",
        "contenticon" : "../../../mod/openstudio/pix/icon.svg",
        "myworkview" : false,
        "contentthumbnailurl" : "../../../mod/openstudio/pix/icon.svg",
        "viewuserworkurl" : "http://example.com/mod/openstudio/view.php?id=3&sid=9",
        "timemodified" : "5/10/16, 13:27",
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "commentsicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "inspirationicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "participationicon" : "../../../mod/openstudio/pix/participation_rgb_32px.svg",
        "favouriteicon" : "../../../mod/openstudio/pix/favourite_rgb_32px.svg",
        "isfolder": true,
        "folderlink" : "http://example.com/mod/openstudio/folder.php?id=3&sid=9",
        "socialdatatotal" : 6,
        "socialdata" : {
            "comments" : 1,
            "commentsnew" : 1,
            "inpsired" : 2,
            "mademelaugh" : 3,
            "mademelaughnew" : 1,
            "favourite" : 0
         }
     }
}}
<div class="openstudio-grid-item-content">
    <div class="openstudio-grid-item-content-title">{{{name}}}</div>
    <div class="openstudio-tooltip">
        <img class="openstudio-grid-item-content-icon" src="{{{contenticon}}}" alt="{{{name}}}">
        <span class="openstudio-tooltiptext {{#isonlyme}}openstudio-tooltiptext-onlyme{{/isonlyme}}">{{itemsharewith}}</span>
    </div>
    <div class="openstudio-grid-item-content-box">
        {{#locked}}
            <div class="openstudio-item-lock">
                <span><img src="{{lockicon}}" alt="{{#str}} postlocked, mod_openstudio {{/str}}"></span>
                <span>{{#str}} postlocked, mod_openstudio {{/str}}</span>
            </div>
        {{/locked}}
        {{^locked}}
            {{#isfeedbackrequested}}
                <div class="openstudio-item-request-feedback">
                    <span><img src="{{requestfeedbackicon}}" alt="{{#str}} contentneedhelp, mod_openstudio {{/str}}"></span>
                    <span>{{#str}} contentneedhelp, mod_openstudio {{/str}}</span>
                </div>
            {{/isfeedbackrequested}}
        {{/locked}}
        {{#isfolder}}
            <div class ="openstudio-folder-content">
                <img class="openstudio-folder-tab" src="{{{folderthumbnail}}}" alt="{{{name}}}">
                <div class ="openstudio-folder-background">
                    <a href="{{{folderlink}}}">
                        <div class="openstudio-default-folder-background">
                            <img class="openstudio-default-folder-img" src="{{{defaultfolderimg}}}" alt="{{{name}}}">
                        </div>
                    </a>
                </div>
            </div>
        {{/isfolder}}
        {{^isfolder}}
                <div class="openstudio-grid-item-content-preview{{#contenttypedefaultimage}}-default{{/contenttypedefaultimage}}">
                    <a href="{{{contentlink}}}">
                        <img class="openstudio-grid-item-thumbnail" src="{{{contentthumbnailurl}}}" alt="{{{name}}}">
                    </a>
                </div>
        {{/isfolder}}
    </div>
    <div class="openstudio-grid-item-content-detail">
        <div class="openstudio-grid-item-content-detail-updated">{{datetimeupdated}}</div>
        <div class="openstudio-grid-item-content-detail-owner">
            <div class="openstudio-grid-item-content-detail-owner-img">
                <img class="defaultuserpic" src="{{{userpictureurl}}}"
                     alt="{{#str}} contentitempicture, mod_openstudio {{/str}} {{{firstname}}} {{{lastname}}}"
                     title="{{#str}} contentitempicture, mod_openstudio {{/str}} {{{firstname}}} {{{lastname}}}">
            </div>
            <div>
                <h4 class="openstudio-grid-item-content-detail-owner-name">{{{firstname}}} {{{lastname}}}</h4>
                {{#myworkview}}
                    <a class="openstudio-grid-item-content-detail-owner-view" href="{{{viewuserworkurl}}}">
                    {{#str}} contentitemview, mod_openstudio {{/str}}
                    {{{firstname}}}’s
                    {{#str}} contentitemwork, mod_openstudio {{/str}}
                    </a>
                {{/myworkview}}
            </div>
        </div>
        {{#socialdatatotal}}
            {{#socialdata}}
                <div class="openstudio-grid-item-content-detail-info">
                   <span class="openstudio-grid-item-content-detail-info-box">
                        <span>
                            <img src="{{commentsicon}}"
                                 alt="{{#str}} commentslabel, openstudio {{/str}}"
                                 class="openstudio-grid-item-content-detail-info-icon
                                        {{^comments}}openstudio-icon-inactive{{/comments}}" />
                        </span>
                        <span class="openstudio-grid-item-content-detail-info-text{{#commentsnew}}-new{{/commentsnew}}">
                            {{#comments}} {{comments}} {{/comments}}
                        </span>
                   </span>
                   <span class="openstudio-grid-item-content-detail-info-box">
                        <span>
                            <img src="{{inspirationicon}}"
                                 alt="{{#str}} inspirationlabel, openstudio {{/str}}"
                                 class="openstudio-grid-item-content-detail-info-icon
                                        {{^inpsired}}openstudio-icon-inactive{{/inpsired}}" />
                        </span>
                        <span class="openstudio-grid-item-content-detail-info-text{{#inspirednew}}-new{{/inspirednew}}">
                            {{#inspired}} {{inspired}} {{/inspired}}
                        </span>
                   </span>
                   <span class="openstudio-grid-item-content-detail-info-box">
                        <span>
                            <img src="{{participationicon}}"
                                 alt="{{#str}} participationlabel, openstudio {{/str}}"
                                 class="openstudio-grid-item-content-detail-info-icon
                                        {{^mademelaugh}}openstudio-icon-inactive{{/mademelaugh}}" />
                        </span>
                        <span class="openstudio-grid-item-content-detail-info-text{{#mademelaughnew}}-new{{/mademelaughnew}}">
                            {{#mademelaugh}} {{mademelaugh}} {{/mademelaugh}}
                        </span>
                   </span>
                   <span class="openstudio-grid-item-content-detail-info-box">
                        <span>
                            <img src="{{favouriteicon}}"
                                 alt="{{#str}} favouritelabel, openstudio {{/str}}"
                                 class="openstudio-grid-item-content-detail-info-icon
                                        {{^favourite}}openstudio-icon-inactive{{/favourite}}" />
                        </span>
                        <span class="openstudio-grid-item-content-detail-info-text{{#favouritenew}}-new{{/favouritenew}}">
                            {{#favourite}} {{favourite}} {{/favourite}}
                        </span>
                   </span>
                </div>
            {{/socialdata}}
        {{/socialdatatotal}}
    </div>
</div>
