{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_block

    Content block template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "firstname" : "Admin",
        "lastname" : "User",
        "name" : "Open Studio",
        "contentlink" : "http://example.com/mod/openstudio/content.php?id=3&sid=9",
        "contenticon" : "../../../mod/openstudio/pix/icon.svg",
        "myworkview" : false,
        "contentthumbnailurl" : "../../../mod/openstudio/pix/icon.svg",
        "contentthumbnailalt" : "Add content for Content 1",
        "viewuserworkurl" : "http://example.com/mod/openstudio/view.php?id=3&sid=9",
        "timemodified" : "5/10/16, 13:27",
        "userpicturehtml" : "<span class="userinitials size-16">AU</span>",
        "commentsicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "inspirationicon" : "../../../mod/openstudio/pix/inspiration_rgb_32px.svg",
        "participationicon" : "../../../mod/openstudio/pix/participation_rgb_32px.svg",
        "favouriteicon" : "../../../mod/openstudio/pix/favourite_rgb_32px.svg",
        "isfolder": true,
        "folderlink" : "http://example.com/mod/openstudio/folder.php?id=3&sid=9",
        "folderthumbnail" :"../../../mod/openstudio/pix/people_rgb_32px.svg",
        "socialdatatotal" : 6,
        "socialdata" : {
            "comments" : 1,
            "commentsnew" : 1,
            "inpsired" : 2,
            "mademelaugh" : 3,
            "mademelaughnew" : 1,
            "favourite" : 0
         }
     }
}}
<div class="openstudio-grid-item-content">
    <div class="openstudio-grid-item-content-title"><a href="{{#isfolder}}{{{folderlink}}}{{/isfolder}}{{^isfolder}}{{{contentlink}}}{{/isfolder}}">{{{name}}}</a></div>
    <div class="openstudio-tooltip">
        <img class="openstudio-grid-item-content-icon" src="{{{contenticon}}}" alt="{{{itemsharewith}}}" tabindex="0">
        <span class="openstudio-tooltiptext {{#isonlyme}}openstudio-tooltiptext-onlyme{{/isonlyme}}">{{itemsharewith}}</span>
    </div>
    <div class="openstudio-grid-item-content-box">
        {{#isfolder}}
            <a href="{{{folderlink}}}" class="clearfix">
                <div class="openstudio-folder-content">
                    {{>mod_openstudio/content_block_banner_status}}
                    <img class="openstudio-folder-tab" src="{{{folderdefaultthumbnail}}}" alt="{{{name}}}" loading="lazy">
                    <div class="openstudio-folder-background">
                        {{#hascontent}}
                            {{#thumbnailimg}}
                                <img class="openstudio-content-folder-img" src="{{{folderthumbnail}}}" alt="{{{name}}}" loading="lazy">
                            {{/thumbnailimg}}
                            {{^thumbnailimg}}
                                <div class="openstudio-default-folder-background hascontent">
                                    <img class="openstudio-default-folder-img" src="{{{folderthumbnail}}}" alt="{{{name}}}" loading="lazy">
                                </div>
                            {{/thumbnailimg}}
                        {{/hascontent}}
                        {{^hascontent}}
                            <div class="openstudio-default-folder-background">
                                <img class="openstudio-default-folder-img openstudio-default-folder-empty-img" src="{{{defaultfolderimg}}}"
                                     alt="{{{contentthumbnailalt}}}" loading="lazy">
                            </div>
                        {{/hascontent}}
                    </div>
                </div>
            </a>
        {{/isfolder}}
        {{^isfolder}}
                {{>mod_openstudio/content_block_banner_status}}
                <a href="{{{contentlink}}}" class="clearfix">
                    <div class="openstudio-grid-item-content-preview{{#contenttypedefaultimage}}-default{{/contenttypedefaultimage}}">
                        <img class="openstudio-grid-item-thumbnail" src="{{{contentthumbnailurl}}}" alt="{{{name}}}" loading="lazy">
                    </div>
                </a>
        {{/isfolder}}
    </div>
    <div class="openstudio-grid-item-content-detail">
        <div class="openstudio-grid-item-content-detail-updated {{#isfolder}}flex-center{{/isfolder}}">
            <div class="openstudio-detail-date">{{datetimeupdated}}</div>
        </div>
        <div class="openstudio-grid-item-content-detail-owner clearfix">
            <div class="openstudio-grid-item-content-detail-owner-img">
               {{{userpicturehtml}}}
            </div>
            <div class="openstudio-grid-item-content-detail-owner-info">
                <h4 class="openstudio-grid-item-content-detail-owner-name">{{{firstname}}} {{{lastname}}}</h4>
                {{#myworkview}}
                    <a class="openstudio-grid-item-content-detail-owner-view" href="{{{viewuserworkurl}}}">
                        {{#str}} contentitemview, mod_openstudio {{/str}}
                        {{{firstname}}}’s
                        <span class="openstudio-grid-item-content-detail-owner-view-icon">
                              {{#str}} contentitemwork, mod_openstudio {{/str}}
                            {{#pix}}
                                t/right, core, {{#str}} contentitemview, openstudio {{/str}}
                            {{/pix}}
                        </span>

                    </a>
                {{/myworkview}}
            </div>
        </div>
        {{>mod_openstudio/content_block_social}}
    </div>
</div>
