{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_block_social

    Content block social icons template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "isreactemoticon: true,
        "socialdatatotal" : 6,
        "socialdata" : {
            "comments" : 1,
            "commentsnew" : 1,
            "inpsired" : 2,
            "mademelaugh" : 3,
            "mademelaughnew" : 1,
            "favourite" : 0
         }
     }
}}
{{#isreactemoticon}}
    {{#socialdata}}
        <div class="openstudio-grid-item-content-detail-info">
            <div class="openstudio-grid-item-content-detail-info-group content-block-social-group">
                <span class="openstudio-grid-item-content-detail-info-box" tabindex="0">
                    <div role="presentation" class="dropdown notifications ">
                        <span id="openstudio_navigation_notification_{{contentid}}" class="show-popup-comment" data-toggle="dropdown" data-boundary="viewport" role="button"
                              aria-haspopup="true" aria-expanded="false" data-cmid="{{cmid}}" data-contentid="{{contentid}}">
                            <span class="openstudio-grid-item-content-detail-info-text{{#commentsnew}}-new{{/commentsnew}} {{#isdoubledigitcomments}}double-digit{{/isdoubledigitcomments}}">
                                {{#comments}}{{comments}}{{/comments}}
                                {{^comments}}{{totalcomments}}{{/comments}}
                            </span>
                            <span class="openstudio-tooltip">
                                <img src="{{#iscurrentusercomment}}{{commentsicon}}{{/iscurrentusercomment}}
                                          {{^iscurrentusercomment}}{{commentsgreyicon}}{{/iscurrentusercomment}}"
                                    class="openstudio-grid-item-content-detail-info-icon" alt="{{#str}} commentslabel, openstudio {{/str}}"/>
                                <span class="openstudio-tooltiptext interaction-icon">{{#str}} commentslabel, openstudio {{/str}}</span>
                            </span>
                        </span>
                        {{>mod_openstudio/commentlist_content_block}}
                    </div>
                </span>
                <span id="content_view_icon_{{contentid}}_{{contentflaginspire}}" class="openstudio-grid-item-content-detail-info-box flag_content_block inspired"
                      data-cmid="{{cmid}}" data-contentid="{{contentid}}" data-fid="{{contentflaginspire}}" tabindex="0"
                      {{#contentflaginspireactive}}data-mode="off"{{/contentflaginspireactive}}
                      {{^contentflaginspireactive}}data-mode="on"{{/contentflaginspireactive}}
                >
                    <span class="openstudio-grid-item-content-detail-info-text{{#inspirednew}}-new{{/inspirednew}}
                        {{#isdoubledigitinspired}}double-digit{{/isdoubledigitinspired}} content_block_info_value">
                        {{#inspired}}{{inspired}}{{/inspired}}
                        {{^inspired}}{{totalinspired}}{{/inspired}}
                    </span>
                    <span class="openstudio-tooltip">
                        <img src="{{#contentflaginspireactive}}{{inspirationicon}}{{/contentflaginspireactive}}
                            {{^contentflaginspireactive}}{{inspirationgreyicon}}{{/contentflaginspireactive}}"
                             class="openstudio-grid-item-content-detail-info-icon" alt="{{#str}} inspiredlabel, openstudio {{/str}}" />
                        <span class="openstudio-tooltiptext interaction-icon">{{#str}} inspiredlabel, openstudio {{/str}}</span>
                    </span>
                </span>
                <span id="content_view_icon_{{contentid}}_{{contentflagsmile}}" class="openstudio-grid-item-content-detail-info-box flag_content_block smiles"
                      data-cmid="{{cmid}}" data-contentid="{{contentid}}" data-fid="{{contentflagsmile}}" tabindex="0"
                      {{#contentflagsmileactive}}data-mode="off"{{/contentflagsmileactive}}
                      {{^contentflagsmileactive}}data-mode="on"{{/contentflagsmileactive}}
                >
                    <span class="openstudio-grid-item-content-detail-info-text{{#mademelaughnew}}-new{{/mademelaughnew}} {{#isdoubledigitmademelaugh}}double-digit{{/isdoubledigitmademelaugh}}">
                        {{#mademelaugh}}{{mademelaugh}}{{/mademelaugh}}
                        {{^mademelaugh}}{{totalmademelaugh}}{{/mademelaugh}}
                    </span>
                    <span class="openstudio-tooltip">
                        <img src="{{#contentflagsmileactive}}{{participationicon}}{{/contentflagsmileactive}}
                            {{^contentflagsmileactive}}{{participationgreyicon}}{{/contentflagsmileactive}}"
                             class="openstudio-grid-item-content-detail-info-icon" alt="{{#str}} smilelabel, openstudio {{/str}}" />
                        <span class="openstudio-tooltiptext interaction-icon">{{#str}} smilelabel, openstudio {{/str}}</span>
                    </span>
                </span>
                <span id="content_view_icon_{{contentid}}_{{contentflagfavourite}}" class="openstudio-grid-item-content-detail-info-box flag_content_block favourites"
                      data-cmid="{{cmid}}" data-contentid="{{contentid}}" data-fid="{{contentflagfavourite}}" tabindex="0"
                      {{#contentflagfavouriteactive}}data-mode="off"{{/contentflagfavouriteactive}}
                      {{^contentflagfavouriteactive}}data-mode="on"{{/contentflagfavouriteactive}}
                >
                    <span class="openstudio-grid-item-content-detail-info-text{{#favouritenew}}-new{{/favouritenew}} {{#isdoubledigitfavourite}}double-digit{{/isdoubledigitfavourite}}">
                        {{#favourite}}{{favourite}}{{/favourite}}
                        {{^favourite}}{{totalfavourite}}{{/favourite}}
                    </span>
                    <span class="openstudio-tooltip">
                        <img src="{{#contentflagfavouriteactive}}{{favouriteicon}}{{/contentflagfavouriteactive}}
                            {{^contentflagfavouriteactive}}{{favouritegreyicon}}{{/contentflagfavouriteactive}}"
                             class="openstudio-grid-item-content-detail-info-icon" alt="{{#str}} favouritelabel, openstudio {{/str}}" />
                        <span class="openstudio-tooltiptext interaction-icon">{{#str}} favouritelabel, openstudio {{/str}}</span>
                    </span>
                </span>
            </div>
        </div>
    {{/socialdata}}
{{/isreactemoticon}}
