{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/content_page

    Content detail template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none


    Example context (json):
    {
        "locked": "0",
        "contentlockenable": true,
        "placeholdertext" : "My module",
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "activedate" : "5/10/16, 19:22",
        "flagscontentread" : "100",
        "percentcompleted" : "70",
        "contentdataname": "Film studies 2016 – The Jungle Book",
        "contenttypeimage": true,
        "contentfileurl": "../../../mod/openstudio/pix/viewed_rgb_32px.svg",
        "contentdatadate" : "5/10/16, 19:22",
        "description": "Description show here",
        "contentflagfavouriteactive" : true,
        "contentfavouritetotal" : 5,
        "contentsmiletotal" : 0,
        "contentinspiretotal" : 0,
        "contentcopyenable" : true,
        "profilebarenable": true,
        "actionenable": true,
        "isfoldercontent": false,
        "reportabuselink" : http://example.com,
    }
}}
{{#contentmapenable}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
{{/contentmapenable}}
<div class="openstudio-container {{#isfoldercontent}}openstudio-folder-global-background{{/isfoldercontent}}">
    {{#isfoldercontent}}
        {{>mod_openstudio/folder_header}}
    {{/isfoldercontent}}
    {{^isfoldercontent}}
        {{#profilebarenable}}
            <div class="openstudio-module-title">
                <h1>{{{placeholdertext}}}</h1>
            </div>
            <div class="openstudio-filter clearfix">
                {{>mod_openstudio/profile_bar}}
            </div>
        {{/profilebarenable}}
    {{/isfoldercontent}}
    <div class="openstudio-content-view-container clearfix">
        <div class="openstudio-content-view-primary clearfix">
            {{^iscontentversion}}
                <div class="openstudio-content-view-title-box">
                    <h1 class="openstudio-content-view-title">{{{contentdataname}}}</h1>
                    <span class="openstudio-content-view-title-icon">
                        <img src="{{{contentvisibilityicon}}}" alt="{{{contentdataname}}}">
                    </span>
                </div>
            {{/iscontentversion}}
            {{#iscontentversion}}
                <div class="openstudio-content-view-version-title-box">
                    <span class="openstudio-content-view-current-version">
                        <a href="{{contentcurrenteversionurl}}">
                            <button id="id_currentversionbutton" class="openstudio-current-version-button">
                                {{#pix}} t/left, core, {{#str}} contentactionnewerversion, openstudio {{/str}} {{/pix}}
                                <span>{{#str}}contentactionreturntomainversion, mod_openstudio{{/str}}</span>
                            </button>
                        </a>
                    </span>
                    <span class="openstudio-content-view-title">{{{contentdataname}}}</span>
                    <div class="openstudio-content-view-version-navigation">
                        {{#contentpreviousversionlink}}
                            <span class="openstudio-content-view-version openstudio-content-view-version-previous
                                {{#contentnextversionlink}} openstudio-content-view-version-divider {{/contentnextversionlink}}">
                               <a href="{{contentpreviousversionlink}}">
                                   {{#pix}} t/left, core, {{#str}} contentactionolderversion, openstudio {{/str}} {{/pix}}
                                   <span class="openstudio-content-view-version-label">
                                        {{#str}} contentactionolderversion, openstudio {{/str}}
                                   </span>
                               </a>
                             </span>
                        {{/contentpreviousversionlink}}
                        {{#contentnextversionlink}}
                            <span class="openstudio-content-view-version openstudio-content-view-version-next">
                                <a href="{{contentnextversionlink}}">
                                    <span class="openstudio-content-view-version-label">
                                        {{#str}} contentactionnewerversion, openstudio {{/str}}
                                    </span>
                                    {{#pix}} t/right, core, {{#str}} contentactionnewerversion, openstudio {{/str}} {{/pix}}
                                </a>
                            </span>
                        {{/contentnextversionlink}}
                    </div>
                </div>
            {{/iscontentversion}}
        </div>
        <div class="openstudio-content-view-primary" id="openstudio_content_view_primary">
            <div class="openstudio-content-view-file">
                <div id="openstudio_item_request_feedback"
                     class="{{#contentflagrequestfeedbackactive}}
                                openstudio-item-request-feedback
                            {{/contentflagrequestfeedbackactive}}
                            {{^contentflagrequestfeedbackactive}}
                                openstudio-item-request-feedback-cancel
                            {{/contentflagrequestfeedbackactive}}">
                    <span>{{#pix}} request_feedback_white_rgb_32px, mod_openstudio, {{#str}} contentneedhelp, mod_openstudio {{/str}} {{/pix}}</span>
                    <span>{{#str}} contentneedhelp, mod_openstudio {{/str}}</span>
                </div>
                <div id="openstudio_item_lock"
                     class="{{#locked}}openstudio-item-lock{{/locked}}{{^locked}}openstudio-item-unlock{{/locked}}">
                        <span>{{#pix}} lock_grey_rgb_32px, mod_openstudio, {{#str}} postlocked, mod_openstudio {{/str}} {{/pix}}</span>
                    <span>{{#str}} postlocked, mod_openstudio {{/str}}</span>
                </div>
                {{#contenttypenone}}
                        <div class="openstudio-content-view-edit">
                            <a href="{{{contenteditlink}}}" class="openstudio-content-view-edit-link">
                                {{#pix}} uploads_rgb_32px, mod_openstudio, {{#str}} contentactioneditpost, mod_openstudio {{/str}}{{/pix}}
                            </a>
                            <div class="openstudio-content-view-edit-label">
                                <a href="{{{contenteditlink}}}">{{#str}} contentactioneditpost, openstudio {{/str}}</a>
                            </div>
                        </div>
                {{/contenttypenone}}
                {{^contenttypenone}}
                {{#contenttypeuseimagedefault}}
                    {{^contenttypeiframe}}
                        <div class="openstudio-content-view-type-img-box">
                            <img class="openstudio-content-view-type-img"
                                 src="{{{contenttypeiconurl}}}" alt="{{{contentdatatitle}}}">
                        </div>
                    {{/contenttypeiframe}}
                {{/contenttypeuseimagedefault}}

                {{#contenttypefileurl}}
                    <div><a href="{{contentfileurl}}">{{#str}} contentcontentweblink, mod_openstudio {{/str}}</a></div>
                {{/contenttypefileurl}}

                {{#contenttypeimage}}
                    <a href="{{contentfileurl}}">
                        <img src="{{{contentfileurl}}}" class="openstudio-content-view-img" alt="{{{contentdatatitle}}}">
                    </a>
                {{/contenttypeimage}}

                {{#contenttypemedia}}
                    <div>{{{contentdatahtml}}}</div>
                {{/contenttypemedia}}

                {{#contenttypeembed}}
                    {{{contentdatahtml}}}
                {{/contenttypeembed}}

                {{#contenttypeiframe}}
                    <iframe class="openstudio-content-view-iframe" name="openstudio-content-view-iframe"
                            src="{{contentiframesrc}}" sandbox=""></iframe>
                {{/contenttypeiframe}}
              {{/contenttypenone}}
            </div>
            <div class="openstudio-content-view-date-box clearfix">
                <div class="openstudio-content-view-date">{{contentdatadate}}</div>
                {{^contenttypenone}}
                    {{#maximizeenable}}
                        <div class="openstudio-content-view-maximize-box">
                            <a id="openstudio_content_view_maximize"
                               class="openstudio-content-view-maximize">
                                {{#pix}}
                                    maximize_blue_rgb_32px, openstudio, {{#str}} contentviewmaximise, openstudio {{/str}}
                                {{/pix}}
                                {{#str}} contentviewmaximise, mod_openstudio {{/str}}
                            </a>
                        </div>
                    {{/maximizeenable}}
                {{/contenttypenone}}
            </div>
            {{#contenttypedownloadfile}}
                <div class="clearfix"><a href="{{contentfileurl}}">{{#str}} contentcontentdownload, mod_openstudio {{/str}}</a></div>
            {{/contenttypedownloadfile}}
            {{#l3name}}
                <div class="openstudio-content-view-subtitle">{{name}}</div>
            {{/l3name}}
            {{^contenttypenone}}
                <div class="openstudio-content-view-description">{{{description}}}</div>
            {{/contenttypenone}}
            {{^iscontentversion}}
            <div class="openstudio-content-view-tags-container clearfix">
                <div class="openstudio-content-view-tags">
                    <ul class="openstudio-content-view-tag-item">
                        {{#tagsraw}}
                            <li class="openstudio-content-view-tag
                                {{#isfoldercontent}}openstudio-folder-block-content-background{{/isfoldercontent}}">
                                <a href="{{{taglink}}}">{{{tagname}}}</a>
                            </li>
                        {{/tagsraw}}
                    </ul>
                </div>
                {{^contenttypenone}}
                    <div class="openstudio-content-view-archive">
                        {{#contentarchivepostenable}}
                            <input id="id_archivebutton" name="archivebutton"
                                   class="{{#contentcrudlocked}} locked {{/contentcrudlocked}} openstudio-content-actions"
                               value="{{#str}}contentactionarchivepost, mod_openstudio{{/str}}" type="button">
                        {{/contentarchivepostenable}}
                        {{#reportabuselink}}
                            <a id="id_reportbutton_link" href="{{{reportabuselink}}}">
                                <input id="id_reportbutton" name="reportbutton"
                                   value="{{#str}}contentactionreportpost, mod_openstudio{{/str}}" type="button">
                            </a>
                        {{/reportabuselink}}
                    </div>
                {{/contenttypenone}}
            </div>

            {{>mod_openstudio/content_flags}}

            <div class="openstudio-content-view-actions clearfix">
                {{#actionenable}}
                    <div class="openstudio-content-view-actions-icons-left">
                        {{#contenteditenable}}
                            {{#mycontent}}
                                <a href="{{{contenteditlink}}}" class="openstudio-content-view-edit-button-link">
                                    <input id="id_editbutton" name="editbutton" class="openstudio-content-view-edit-button
                                        openstudio-content-actions osep-smallbutton
                                        {{#contentcrudlocked}}
                                            locked
                                        {{/contentcrudlocked}}"
                                        value="{{#str}}contentactioneditname, mod_openstudio{{/str}}" type="button">
                                </a>
                            {{/mycontent}}
                        {{/contenteditenable}}
                        {{#contentdeleteenable}}
                            <input id="id_deletebutton" name="deletebutton"
                                    class="openstudio-content-view-delete-button osep-smallbutton"
                                   value="{{#str}}contentactiondelete, mod_openstudio{{/str}}" type="button">
                        {{/contentdeleteenable}}
                        {{#contentlockenable}}
                            {{^isfoldercontent}}
                                <a>
                                    <input id="id_lockbutton" name="lockbutton" type="button"
                                        {{#locked}}
                                           data-lockstate="locked"
                                            value="{{#str}}contentactionunlockname, mod_openstudio{{/str}}"
                                        {{/locked}}
                                        {{^locked}}
                                           data-lockstate="unlocked"
                                            value="{{#str}}contentactionlockname, mod_openstudio{{/str}}"
                                        {{/locked}}
                                        class="osep-smallbutton"
                                    >
                                </a>
                            {{/isfoldercontent}}
                        {{/contentlockenable}}
                    </div>
                {{/actionenable}}
                <div class="openstudio-content-view-actions-icons-right">
                    {{#contentrequestfeedbackenable}}
                        <button id="content_view_icon_{{contentflagrequestfeedback}}"
                                class="openstudio-request-feedback-button osep-smallbutton"
                                data-cmid="{{cmid}}" data-cid="{{id}}" data-fid="{{contentflagrequestfeedback}}"
                                data-mode="{{#contentflagrequestfeedbackactive}}off{{/contentflagrequestfeedbackactive}}
                                {{^contentflagrequestfeedbackactive}}on{{/contentflagrequestfeedbackactive}}">
                            {{#contentflagrequestfeedbackactive}}{{#str}}contentflagaskforhelpcancel, mod_openstudio{{/str}}{{/contentflagrequestfeedbackactive}}
                            {{^contentflagrequestfeedbackactive}}{{#str}}contentflagaskforhelp, mod_openstudio{{/str}}{{/contentflagrequestfeedbackactive}}
                        </button>
                    {{/contentrequestfeedbackenable}}
                </div>
            </div>
            {{#contentcommentenable}}
                {{>mod_openstudio/comment}}
            {{/contentcommentenable}}
            {{/iscontentversion}}
            {{#iscontentversion}}
                <div class="openstudio-content-view-actions clearfix">
                    <div class="openstudio-content-view-actions-icons-left">
                        {{#contentdeleteenable}}
                            <input data-cmid="{{cmid}}" data-cid="{{contentid}}" data-cvid="{{id}}"
                                   id="id_deleteversionbutton" name="deletearchivebutton"
                                   class="openstudio-delete-content-version osep-smallbutton"
                                   value="{{#str}}contentactiondelete, mod_openstudio{{/str}}" type="button">
                            <input type="hidden" name="" id="contentcurrenteversionurl" value="{{contentcurrenteversionurl}}">
                        {{/contentdeleteenable}}
                        {{#isownedbyviewer}}
                            <a href="{{{contentrestoreversionurl}}}" class="openstudio-content-view-restoret-button-link">
                                <input id="id_restorebutton" name="restorebutton"
                                       class="openstudio-content-view-restore-button osep-smallbutton"
                                       value="{{#str}}contentactionrestore, mod_openstudio{{/str}}" type="button">
                            </a>
                        {{/isownedbyviewer}}
                    </div>
                </div>
            {{/iscontentversion}}
        </div>
        <div class="openstudio-content-view-secondary">
            <div id="openstudio_content_view_post_owner_heading" class="openstudio-content-view-block
                    {{^iscontentversion}}collapsed{{/iscontentversion}}
                    {{#isfoldercontent}}openstudio-folder-global-background{{/isfoldercontent}} collapsed"
                 data-toggle="collapse"
                 data-target="#openstudio_content_view_post_owner">
                <a href="">{{#str}} contentviewownerpost, mod_openstudio {{/str}}</a>
            </div>
            <div id="openstudio_content_view_post_owner" class="openstudio-content-view-block-content

                {{#isfoldercontent}}openstudio-folder-block-content-background{{/isfoldercontent}}
                openstudio-content-view-block-post-owner collapse clearfix">
                <div class="openstudio-content-view-user-picture">
                    <img src="{{{userpictureurl}}}">
                </div>
                <div class="openstudio-content-view-user-info">
                    <h4 class="openstudio-content-view-user-info-name">{{{firstname}}} {{{lastname}}}</h4>
                    <a class="openstudio-content-view-user-info-view" href="{{{viewuserworkurl}}}">
                        {{#str}} contentitemview, mod_openstudio {{/str}}
                        {{{firstname}}}’s
                        {{#str}} contentitemwork, mod_openstudio {{/str}}
                    </a>
                </div>
            </div>
            {{^iscontentversion}}
                {{#hascontentversions}}
                    {{#contentarchivepostenable}}
                        <div class="openstudio-content-view-block collapsed
                             {{#isfoldercontent}}openstudio-folder-global-background{{/isfoldercontent}}" data-toggle="collapse"
                             data-target="#openstudio_content_view_post_archive" id="openstudio_content_view_post_archive_panel" role="button">
                            <span>{{#str}} contentviewpostarchive, mod_openstudio {{/str}}</span>
                        </div>
                        <div id="openstudio_content_view_post_archive"
                                class="openstudio-content-view-block-content
                                {{#isfoldercontent}}openstudio-folder-block-content-background{{/isfoldercontent}}
                                openstudio-content-view-version collapse clearfix">
                            {{#contentversions}}
                                <div class="openstudio-content-view-version-detail clearfix" id="content_version_id_{{id}}">
                                    <span class="openstudio-content-view-version-img"><img src="{{{contenttypeiconurl}}}"></span>
                                    <span class="openstudio-content-view-version-info">
                                        <h4 class="openstudio-content-view-version-info-name">{{{name}}}</h4>
                                        <span class="openstudio-content-view-version-date">{{contentdatadate}}</span>
                                    </span>
                                    <span class="openstudio-content-view-version-actions clearfix">
                                        <a href="{{{contentviewversionlink}}}" class="openstudio-content-view-version-button-link">
                                        <input id="id_viewversionbutton" name="viewversionbutton"
                                               class="openstudio-content-view-version-button osep-smallbutton"
                                               value="{{#str}}contentactionview, mod_openstudio{{/str}}" type="button">
                                        </a>
                                        {{#contentdeleteenable}}
                                            <input data-cmid="{{cmid}}" data-cid="{{contentid}}"
                                                   data-cvid="{{id}}"
                                                   id="deleteversionbutton" name="deleteversionbutton"
                                                   class="openstudio-delete-content-version osep-smallbutton"
                                                   value="{{#str}}contentactiondelete, mod_openstudio{{/str}}" type="button">
                                        {{/contentdeleteenable}}
                                    </span>
                                </div>
                            {{/contentversions}}
                        </div>
                    {{/contentarchivepostenable}}
                {{/hascontentversions}}
                {{#contentmetadataenable}}
                    <div class="openstudio-content-view-block collapsed
                                    {{#isfoldercontent}}openstudio-folder-global-background{{/isfoldercontent}}"
                         data-toggle="collapse"
                         data-target="#openstudio_content_view_post_image_meta_data">
                        <span>{{#str}} contentviewimagemetadata, mod_openstudio {{/str}}</span>
                    </div>
                    <div id="openstudio_content_view_post_image_meta_data"
                         class="openstudio-content-view-block-content openstudio-content-view-image-metadata collapse">
                        <div class="openstudio-content-view-metadata-info">
                            <span class="openstudio-content-view-image-data-label">
                                {{#str}} contentviewimagemakemodel, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-content-view-image-data-value">
                                {{metadatamake}}{{#metadatamodel}}/{{metadatamodel}}{{/metadatamodel}}
                            </span>
                        </div>
                        <div class="openstudio-content-view-metadata-info">
                            <span class="openstudio-content-view-image-data-label">
                                {{#str}} contentviewimagefocal, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-content-view-image-data-value">
                                {{metadatafocal}}
                            </span>
                        </div>
                        <div class="openstudio-content-view-metadata-info">
                            <span class="openstudio-content-view-image-data-label">
                                {{#str}} contentviewimageexposure, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-content-view-image-data-value">
                                {{metadataexposure}}
                            </span>
                        </div>
                        <div class="openstudio-content-view-metadata-info">
                            <span class="openstudio-content-view-image-data-label">
                                {{#str}} contentviewimageaperture, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-content-view-image-data-value">
                                {{metadataaperture}}
                            </span>
                        </div>
                        <div class="openstudio-content-view-metadata-info">
                            <span class="openstudio-content-view-image-data-label">
                                {{#str}} contentviewimageiso, mod_openstudio {{/str}}
                            </span>
                            <span class="openstudio-content-view-image-data-value">
                                {{metadataiso}}
                            </span>
                        </div>
                    </div>
                {{/contentmetadataenable}}
                {{#contentmapenable}}
                    <div class="openstudio-content-view-block collapsed
                                {{#isfoldercontent}}openstudio-folder-global-background{{/isfoldercontent}}"
                         data-toggle="collapse"
                         data-target="#openstudio_content_view_post_image_location">
                        <span>{{#str}} contentviewimagelocation, mod_openstudio {{/str}}</span>
                    </div>
                    <div id="openstudio_content_view_post_image_location"
                         class="openstudio-content-view-block-content openstudio-content-view-block-post-owner  collapse
                                {{#isfoldercontent}}openstudio-folder-block-content-background{{/isfoldercontent}}">
                        <div id="openstudio_content_view_map_canvas"
                             data-gpslat="{{contentgpslat}}" data-gpslng="{{contentgpslng}}"></div>
                    </div>
                {{/contentmapenable}}
            {{/iscontentversion}}
        </div>
    </div>
</div>
