{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/filter

    Filter template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "total" : "1000",
        "selectview" : true,
        "showmultigroup": true,
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "commentsicon" : "../../../mod/openstudio/pix/comments_rgb_32px.svg",
        "viewedicon" : "../../../mod/openstudio/pix/viewed_rgb_32px.svg",
        "activedate" : "1 January 70, 08:00",
        "flagscontentread" : "100",
        "totalpostedcomments" : "100",
        "userporgresspercentage" : "100",
        "showprofilebarview" : "true",
        "fullusername" : "Admin User",
        "contentediturl": "http://exmaple/mod/openstudio/contentedit.php?id=4&lid=0&sid=0&type=0&sstsid=0",
        "myactivities" : "true",
        "percentcompleted" : "70",
        "showownfile" : true,
        "sortbydate" : false,
        "sortdesc" : true,
        "sortasc" : false,
        "sortbytitle" : true,
        "nextsortactionurl" : "http://example.com/mod/openstudio/view.php?id=7&vid=2&fsort=1&osort=0",
        "groupitems" : [
            {
               "id" : "1",
               "name" : "Group 1"
            },
            {
               "id" : "2",
               "name" : "Group 2"
            }
        ]
    }

}}

{{#showownfile}}
    {{#showprofilebarview}}
        {{>mod_openstudio/profile_bar}}
        <div class="openstudio-profile-rule"></div>
    {{/showprofilebarview}}
{{/showownfile}}

<span class="openstudio-filter-divider">
<span class="openstudio-filter-text">
    <a href="{{sortbydateurl}}" class="openstudio-filter-icon openstudio-filter-text-selected">
        {{#str}} filterpreferences, mod_openstudio {{/str}}
    </a>
    {{#sortdesc}}{{#pix}} t/collapsed, core, {{#str}} filterpreferences, openstudio {{/str}} {{/pix}}{{/sortdesc}}
</span>
</span>

<span class="openstudio-filter-sort-divider">
<span class="openstudio-filter-sort-text">{{#str}} filtersortby, mod_openstudio {{/str}}
    {{#sortbydate}}
        <a href="{{sortbydateurl}}" class="openstudio-filter-icon openstudio-filter-text-selected">
            {{#str}} filterdate, mod_openstudio {{/str}}
        </a>
        {{#sortdesc}}{{#pix}} t/collapsed, core, {{#str}} filtersortactivedesc, openstudio {{/str}} {{/pix}}{{/sortdesc}}
        {{#sortasc}}{{#pix}} t/expanded, core, {{#str}} filtersortactiveasc, openstudio {{/str}} {{/pix}}{{/sortasc}}
    {{/sortbydate}}
    {{^sortbydate}}
        <a href="{{sortbydateurl}}" class="">{{#str}} filterdate, mod_openstudio {{/str}}</a>
    {{/sortbydate}}
    </a>
</span>
<span class="openstudio-filter-sort-text openstudio-filter-sort-text-title">
    {{#sortbytitle}}
        <a href="{{sortbytitleurl}}" class="openstudio-filter-icon openstudio-filter-text-selected">
            {{#str}} filtertitle, mod_openstudio {{/str}}
        </a>
        {{#sortdesc}}{{#pix}} t/collapsed, core, {{#str}} filtersortactivedesc, openstudio {{/str}} {{/pix}}{{/sortdesc}}
        {{#sortasc}}{{#pix}} t/expanded, core, {{#str}} filtersortactiveasc, openstudio {{/str}} {{/pix}}{{/sortasc}}
    {{/sortbytitle}}
    {{^sortbytitle}}
        <a href="{{sortbytitleurl}}" class="">{{#str}} filtertitle, mod_openstudio {{/str}}</a>
    {{/sortbytitle}}
</span>
</span>

<span class="openstudio-filter-text">
<span>{{#str}} filtertotal, mod_openstudio {{/str}}: {{total}}</span>
</span>

{{#selectview}}
<span class="openstudio-filter-select">
    <label for="filter_groupid">{{#str}} filtergroup, mod_openstudio {{/str}}:</label>
    {{#showmultigroup}}
        <select id="filter_groupid">
            {{#groupitems}}
                <option value="{{groupid}}" name="{{name}}"
                    {{#selectedgroup}}selected="selected"{{/selectedgroup}}>{{name}}
                </option>
            {{/groupitems}}
        </select>
    {{/showmultigroup}}
    {{^showmultigroup}}
        {{#groupitems}}
            <span>{{name}}</span>
        {{/groupitems}}
    {{/showmultigroup}}
</span>
{{/selectview}}

{{#myactivities}}
    <span class="openstudio-filter-select">
        <label for="filter_block_activity">{{#str}} filterwork, mod_openstudio {{/str}}:</label>
        <select id="filter_block_activity">
                <option value="0">{{#str}} filterall, mod_openstudio {{/str}}</option>
            {{#blocksdata}}
                <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
            {{/blocksdata}}
        </select>
    </span>
{{/myactivities}}

<span class="openstudio-filter-select">
    <label for="filter_pagesize">{{#str}} filterview, mod_openstudio {{/str}}:</label>
    <select id="filter_pagesize">
        {{#viewsizes}}
            <option value="{{size}}" {{#selected}}selected="selected"{{/selected}}>{{size}}</option>
        {{/viewsizes}}
    </select>
</span>
<input type="hidden" id="view_sort_action_url" value="{{sortactionurl}}">
<input type="hidden" id="vid" value="{{vid}}">
