{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/filter_mobile

    Filter template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "total" : "1000",
        "selectview" : true,
        "showmultigroup": true,
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "commentsicon" : "../../../mod/openstudio/pix/comments_rgb_32px.svg",
        "viewedicon" : "../../../mod/openstudio/pix/viewed_rgb_32px.svg",
        "activedate" : "1 January 70, 08:00",
        "flagscontentread" : "100",
        "totalpostedcomments" : "100",
        "userporgresspercentage" : "100",
        "fullusername" : "Admin User",
        "contentediturl": "http://exmaple/mod/openstudio/contentedit.php?id=4&lid=0&sid=0&type=0&sstsid=0",
        "myactivities" : "true",
        "percentcompleted" : "70",
        "showprofilebarview" : true,
        "groupitems" : [
            {
               "id" : "1",
               "name" : "Group 1"
            },
            {
               "id" : "2",
               "name" : "Group 2"
            }
        ]
    }

}}
{{#showprofilebarview}}
    {{>mod_openstudio/profile_bar}}
    <div class="openstudio-profile-rule"></div>
{{/showprofilebarview}}

<div class="openstudio-filter-preference-text openstudio-filter-link">
    <span class="openstudio-filter-text">
        <a data-toggle="collapse"
           data-target="#preference_filter_container"
           class="openstudio-filter-preference-icon collapsed">
            {{#str}} filterpreferences, mod_openstudio {{/str}}
            <span class="openstudio-expand-image">{{#pix}} t/collapsed, core, {{#str}} navfilterexpandon, openstudio {{/str}} {{/pix}}</span>
            <span class="openstudio-collapse-image">{{#pix}} t/expanded, core, {{#str}} navfilterexpandoff, openstudio {{/str}} {{/pix}}</span>
        </a>
    </span>
</div>

<div id="preference_filter_container" class="collapse">
    <div class="openstudio-preference-item">
        {{>mod_openstudio/filter_by_date}}
    </div>
    <div class="openstudio-preference-item">
        <span class="openstudio-filter-sort-text">{{#str}} filtersortby, mod_openstudio {{/str}}
            {{>mod_openstudio/filter_by_title}}
        </span>
    </div>
    <div class="openstudio-preference-item">
        <span class="openstudio-filter-sort-text ">{{#str}} filtertotal, mod_openstudio {{/str}}:
            {{total}}
        </span>
    </div>
    {{^myactivities}}
        <div class="openstudio-preference-item">
            {{>mod_openstudio/filter_by_pagesizes}}
        </div>
    {{/myactivities}}
    {{#myactivities}}
        <div class="openstudio-preference-item">
            {{>mod_openstudio/filter_by_activities}}
        </div>
    {{/myactivities}}

    {{#selectview}}
        <div class="openstudio-preference-item">
            {{>mod_openstudio/filter_by_group}}
        </div>
    {{/selectview}}

</div>
