{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/folder_header

    Folder geader template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none


    Example context (json):
    {
        "foldereditenable": false
    }
}}
<div class="openstudio-folder-header clearfix">
    <div class ="openstudio-folder-header-left">
        <a href="{{{folderlinkoverview}}}" >
            {{#pix}} folder_darkblue_rgb_32px, mod_openstudio, {{{name}}} {{/pix}}
        </a>
        <a class="openstudio-folder-header-title" href="{{{folderlinkoverview}}}" >{{{name}}}</a>
    </div>
    {{#foldereditenable}}
        <div class ="openstudio-folder-header-right">
            {{#pix}} edit_rgb_32px, mod_openstudio, {{#str}}foldereditandpermission, mod_openstudio{{/str}} {{/pix}}
            <a class="openstudio-folder-header-title" href="{{{folderedit}}}" >{{#str}}foldereditandpermission, mod_openstudio{{/str}}</a>
        </div>
    {{/foldereditenable}}
</div>
