{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/header

    Header panel of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "sitename": "Open Studio",
        "placeholdertext" : "My Module",
        "navigation": [
            {
                "name" : "Shared Content",
                "url" : "https://example.com/mod/openstudio/view.php?id=4",
                "class" : "shared-content",
                "pix" : "../../../theme/image.php?theme=osep&amp;component=openstudio&amp;image=shared_content_rgb_32px",
                "hassubnavigation" : "true",
                "subnavigation" : {
                   "name" : "My Module",
                    "url" : "https://example.com/mod/openstudio/view.php?id=4&vid=3&fblock=0&ftype=0&fflag=0&ftags&fsort=1&osort=0"
                 }
            },
            {
                "name" : "People",
                "url" : "https://example.com/mod/openstudio/view.php?id=4",
                "class" : "people",
                "pix" : "../../../theme/image.php?theme=osep&amp;component=openstudio&amp;image=people_rgb_32px",
                "hassubnavigation" : "false"
            },
            {
                "name" : "My Content",
                "url" : "https://example.com/mod/openstudio/view.php?id=4",
                "class" : "shared-content",
                "pix" : "../../../theme/image.php?theme=osep&amp;component=openstudio&amp;image=activity_rgb_32px",
                "hassubnavigation" : "true",
                "subnavigation" : {
                   "name" : "My Activities",
                    "url" : "https://example.com/mod/openstudio/view.php?id=4&vid=3&fblock=0&ftype=0&fflag=0&ftags&fsort=1&osort=0"
                 }
            },
            {
                "name" : "Administration",
                "url" : "https://example.com/mod/openstudio/view.php?id=4",
                "class" : "shared-content",
                "pix" : "../../../theme/image.php?theme=osep&amp;component=openstudio&amp;image=administration_rgb_32px",
                "hassubnavigation" : "true",
                "subnavigation" : {
                   "name" : "Edit settings",
                    "url" : "https://example.com/mod/openstudio/view.php?id=4&vid=3&fblock=0&ftype=0&fflag=0&ftags&fsort=1&osort=0"
                 }
            }
        ],
        "notificationnumber" : 2,
        "notificationicon" : "../../../theme/image.php?theme=osep&amp;component=openstudio&amp;image=notifications_rgb_32px",
        "notifications": [
            {
                "id": 1,
                "picture": "<img src=\"http://placehold.it/48/48\" width=\"48\" height=\"48\" alt=\"Image of User 1\" />",
                "message": "User 1 commented on your post '<a href=\"http://localhost\">Really cool image</a>'",
                "messageplain": "User 1 commented on your post 'Really cool image'",
                "icon": {
                    "attributes": [
                        {"name": "src", "value": "http://placehold.it/16/16"},
                        {"name": "alt", "value": ""}
                    ]
                },
                "url": "http://example.com",
                "timecreated": "2 hours ago",
                "isread": false
            },
            {
                "id": 5,
                "picture": "<img src=\"http://placehold.it/48/48\" width=\"48\" height=\"48\" alt=\"Image of User 1\" />",
                "message": "User 1 liked your post '<a href=\"http://localhost\">Really cool image</a>'",
                "messageplain": "User 1 liked your post 'Really cool image'",
                "icon": {
                    "attributes": [
                        {"name": "src", "value": "http://placehold.it/16/16"},
                        {"name": "alt", "value": ""}
                    ]
                },
                "url": "http://example.com",
                "timecreated": "3 hours ago",
                "isread": true
            }
        ]
    }
}}
<div class="openstudio-header">
    <div class="row-fluid">
        <div class="span8">
            {{>mod_openstudio/logo}}
        </div>
        <div class="span4">
            {{>mod_openstudio/actions}}
        </div>
    </div>
</div>
<div class="openstudio-nav-primary">
    {{>mod_openstudio/navigation}}
</div>