{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/notificationlist

    A list of notifications, used in HTML subscription emails, and the notifications drop-down list.

    Classes required for JS:
    * .openstudio-notitifications-list .stopicon
    * openstudio-notitication-stopicon

    Data attributes required for JS:
    * id
    * contentid

    Context variables required for this template:
    * notifications

    Example context (json):
    {
        "notifications": [
            {
                "id": 1,
                "contentid":
                "picture": "<span class="userinitials size-16">U1</span>",
                "message": "User 1 commented on your post '<a href=\"http://localhost\">Really cool image</a>'",
                "messageplain": "User 1 commented on your post 'Really cool image'",
                "icon": {
                    "attributes": [
                        {"name": "src", "value": "http://placehold.it/16/16"},
                        {"name": "alt", "value": ""}
                    ]
                },
                "url": "http://example.com",
                "timecreated": "2 hours ago",
                "isread": false,
                "isfollowing": true
            },
            {
                "id": 5,
                "picture": "<span class="userinitials size-16">U1</span>",
                "message": "User 1 liked your post '<a href=\"http://localhost\">Really cool image</a>'",
                "messageplain": "User 1 liked your post 'Really cool image'",
                "icon": {
                    "attributes": [
                        {"name": "src", "value": "http://placehold.it/16/16"},
                        {"name": "alt", "value": ""}
                    ]
                },
                "url": "http://example.com",
                "timecreated": "3 hours ago",
                "isread": true,
                "isfollowing": false
            }
        ],
        "notificationstopicon" : {
            "attributes": [
                {"name": "src", "value": "http://placehold.it/16/16"},
                {"name": "alt", "value": ""}
            ]
        }
    }

}}
<div class="openstudio-notifications dropdown-menu">
    <h2 class="openstudio-notifications-heading">
        <div class="openstudio-notifications-arrow">{{#pix}} notifications_arrow, mod_openstudio {{/pix}}</div>
        {{#pix}} notifications_white_rgb_32px, mod_openstudio {{/pix}}{{#str}} notificationslistheader, mod_openstudio {{/str}}</h2>
    <ul class="openstudio-notifications-list">
{{#notifications}}
    <li data-id="{{id}}" class="openstudio-notification openstudio-notification-{{#isread}}read{{/isread}}{{^isread}}unread{{/isread}}">
        <div class="openstudio-notification-body-img">
            {{{picture}}}
        </div>
        <div class="openstudio-notification-body">
            <p class="openstudio-notification-message">{{{message}}}</p>
            <p class="openstudio-notification-details">{{#icon}}{{> core/pix_icon}}{{/icon}} {{timecreated}}
                {{#isfollowing}}
                        <button data-contentid="{{contentid}}"
                                {{#commentid}}data-commentid="{{commentid}}"{{/commentid}}
                                class="openstudio-notification-stopbutton openstudio-tooltip"
                                    {{#commentid}}title="{{#str}} stopnotificationsforcomment, mod_openstudio {{/str}}"{{/commentid}}
                                    {{^commentid}}title="{{#str}} stopnotificationsforcontent, mod_openstudio {{/str}}"{{/commentid}}>
                                {{#notificationstopicon}}{{> core/pix_icon}}{{/notificationstopicon}}
                        </button>
                {{/isfollowing}}
            </p>
        </div>
    </li>
{{/notifications}}
{{^notifications}}
    <li class="openstudio-notification openstudio-notification-none">{{#str}} nonotifications, mod_openstudio {{/str}}</li>
{{/notifications}}
    </ul>
</div>
