{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/orderpost_dialog

    Order-post template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        contents: [
            {
                'id': 10,
                'name' => 'loremipsum',
                'date' => '10/10/16, 20:05',
                'pictureurl' => 'http://192.168.216.71/openstudio2/pluginfile.php/5/user/icon/clean/f2?rev=714',
                'order' => 1,
                'orderstring' => '01',
                'canreorder' => false
            }
        ]
    }

}}
<div class="openstudio-orderpost">
    <div class="openstudio-orderpost-header">
        <div class="openstudio-orderpost-header-hint">
            {{#str}} folderreordercontentshint, mod_openstudio {{/str}}
        </div>
        <div class="openstudio-orderpost-header-save clearfix">
            <span>{{#str}} foldertopcontentthumbnail, mod_openstudio {{/str}}</span>
            <button class="osep-smallbutton openstudio-orderpost-save-button">
                {{#str}} foldersaveorder, mod_openstudio {{/str}}
            </button>
        </div>
    </div>
    <div class="openstudio-message-error"></div>
    <div class="openstudio-orderpost-body">
        {{#contents}}
            <div class="openstudio-orderpost-item clearfix" data-item-id="{{id}}">
                <div class="openstudio-orderpost-item-row">
                    <div class="openstudio-orderpost-item-column1">
                        <div class="openstudio-orderpost-item-order {{^canreorder}}openstudio-orderpost-item-canreorder{{/canreorder}} {{#contentsbook}}openstudio-orderpost-item-book{{/contentsbook}}" data-order="{{order}}"
                            data-original-order="{{order}}">
                            {{orderstring}}
                        </div>
                        <div class="openstudio-orderpost-item-locked">
                            {{^canreorder}}
                                {{#pix}}
                                    lock_rgb_32px, mod_openstudio, {{#str}} foldercontentcannotreorder, openstudio {{/str}}
                                {{/pix}}
                            {{/canreorder}}
                        </div>
                    </div>
                    <div class="openstudio-orderpost-item-column2">
                        <div class="openstudio-orderpost-item-picture">
                            <img src="{{{pictureurl}}}" alt="{{name}}" width="64px" height="50px"/>
                        </div>
                    </div>
                    <div class="openstudio-orderpost-item-column3">
                        <span class="openstudio-orderpost-item-name">
                            {{name}}
                        </span>
                        <span class="openstudio-orderpost-item-date">
                            {{date}}
                        </span>
                    </div>
                    <div class="openstudio-orderpost-item-column4">
                        <ul>
                            <li>
                                <button id="openstudio-folder-reorder-up-{{moveuporder}}" name="{{#str}} btnmoveup, openstudio {{/str}}" class="openstudio-orderpost-item-moveup-button {{^canreorder}}openstudio-orderpost-item-disabled{{/canreorder}}
                                    {{#contentsbook}}openstudio-orderpost-item-book{{/contentsbook}}">
                                    <span class="openstudio-folder-reorder-active">
                                        {{#pix}}
                                            move_post_up_active_rgb_32px, mod_openstudio,
                                            {{#firstcontent}}
                                                {{#str}} postattop, openstudio {{/str}}
                                            {{/firstcontent}}
                                            {{^firstcontent}}
                                                {{#str}}
                                                    foldermovecontentup, mod_openstudio, {
                                                            "name": {{#quote}}{{name}}{{/quote}},
                                                            "position": {{#quote}}{{moveuporder}}{{/quote}}
                                                    }
                                                {{/str}}
                                            {{/firstcontent}}
                                        {{/pix}}
                                    </span>
                                    <span class="openstudio-folder-reorder-disabled">
                                        {{#pix}}
                                            move_post_up_disabled_rgb_32px, mod_openstudio,
                                            {{#firstcontent}}
                                                {{#str}} postattop, openstudio {{/str}}
                                            {{/firstcontent}}
                                            {{^firstcontent}}
                                                {{#str}}
                                                    foldermovecontentup, mod_openstudio, {
                                                            "name": {{#quote}}{{name}}{{/quote}},
                                                            "position": {{#quote}}{{moveuporder}}{{/quote}}
                                                    }
                                                {{/str}}
                                            {{/firstcontent}}
                                        {{/pix}}
                                    </span>

                                </button>
                            </li>
                             
                            <li>
                                <span class="openstudio-orderpost-item-ordernumber-guide">
                                    {{#str}} foldermovetopostnumber, mod_openstudio {{/str}}
                                </span>
                                <input id="openstudio-folder-reorder-input-{{order}}" data-order="{{order}}" value="{{order}}" class="openstudio-orderpost-item-order-number-input" 
                                {{#contentsbook}}disabled{{/contentsbook}} type="text" maxlength="3" name="{{#str}} foldermovetopostnumber, mod_openstudio {{/str}}"/>
                            </li>
                            <li>
                                <button id="openstudio-folder-reorder-down-{{moveuporder}}" name="{{#str}} btnmovedown, openstudio {{/str}}" class="openstudio-orderpost-item-movedown-button {{^canreorder}}openstudio-orderpost-item-disabled{{/canreorder}}
                                {{#contentsbook}}openstudio-orderpost-item-book{{/contentsbook}}">
                                    <span class="openstudio-folder-reorder-active">
                                        {{#pix}}
                                            move_post_down_active_rgb_32px, mod_openstudio,
                                            {{#lastcontent}}
                                                {{#str}} postatbottom, openstudio {{/str}}
                                            {{/lastcontent}}
                                            {{^lastcontent}}
                                                {{#str}}
                                                    foldermovecontentup, mod_openstudio, {
                                                            "name": {{#quote}}{{name}}{{/quote}},
                                                            "position": {{#quote}}{{movedownorder}}{{/quote}}
                                                    }
                                                {{/str}}
                                            {{/lastcontent}}
                                        {{/pix}}
                                    </span>
                                    <span class="openstudio-folder-reorder-disabled openstudio-folder-reorder-hidden">
                                        {{#pix}}
                                            move_post_down_disabled_rgb_32px, mod_openstudio,
                                            {{#lastcontent}}
                                                {{#str}} postatbottom, openstudio {{/str}}
                                            {{/lastcontent}}
                                            {{^lastcontent}}
                                                {{#str}}
                                                    foldermovecontentup, mod_openstudio, {
                                                            "name": {{#quote}}{{name}}{{/quote}},
                                                            "position": {{#quote}}{{movedownorder}}{{/quote}}
                                                    }
                                                {{/str}}
                                            {{/lastcontent}}
                                        {{/pix}}
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/contents}}
    </div>
    <div class="openstudio-orderpost-footer clearfix">
        <div class="openstudio-orderpost-footer-save clearfix">
            <button class="osep-smallbutton openstudio-orderpost-save-button">
                {{#str}} foldersaveorder, mod_openstudio {{/str}}
            </button>
        </div>
    </div>
</div>