{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/people_filter

    Filter template for people page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "showmultigroup" : true,
        "sortbydate" : false,
        "sortdesc" : true,
        "sortasc" : false,
        "sortbyusername" : true,
        "nextsortactionurl" : "http://example.com/mod/openstudio/view.php?id=7&vid=2&fsort=1&osort=0",
        "groupitems" : [
            {
               "id" : "-1",
               "name" : "My module",
               "selectedgroup" : false
            },
            {
               "id" : "1",
               "name" : "Group 1",
               "selectedgroup" : false
            },
            {
               "id" : "2",
               "name" : "Group 2",
               "selectedgroup" : true
            }
        ]
    }

}}
<span class="openstudio-filter-text">
    <span class="openstudio-filter-preferences">
        {{#str}} filterpreferences, mod_openstudio {{/str}}
    </span>
</span>
<span class="openstudio-filter-divider"></span>
<span class="openstudio-filter-sort-devider">
    <span class="openstudio-filter-sort-text ">{{#str}} filtersortby, mod_openstudio {{/str}}
        <a href="{{nextsortactionurl}}&fsort=1" class="
            {{#sortbydate}}
                openstudio-filter-text-selected
                {{#sortdesc}}openstudio-filter-collapsed{{/sortdesc}}
            {{#sortasc}}openstudio-filter-expanded{{/sortasc}}
        {{/sortbydate}}">
            {{#str}} filterdate, mod_openstudio {{/str}}
            {{#sortdesc}}{{#pix}} t/collapsed, core, {{#str}} filtersortactivedesc, openstudio {{/str}} {{/pix}}{{/sortdesc}}
            {{#sortasc}}{{#pix}} t/expanded, core, {{#str}} filtersortactiveasc, openstudio {{/str}} {{/pix}}{{/sortasc}}
        </a>
    </span>
</span>
<span class="openstudio-filter-divider"></span>
<span class="openstudio-filter-sort-devider">
    <span class="openstudio-filter-sort-text openstudio-filter-sort-text-title">
        <a href="{{nextsortactionurl}}&fsort=2" class="
            {{#sortbyusername}}
                    openstudio-filter-text-selected
                    {{#sortdesc}}openstudio-filter-collapsed{{/sortdesc}}
            {{#sortasc}}openstudio-filter-expanded{{/sortasc}}
        {{/sortbyusername}}">
            {{#str}} filtersortbyname, mod_openstudio {{/str}}
            {{#sortdesc}}{{#pix}} t/collapsed, core, {{#str}} filtersortactivedesc, openstudio {{/str}} {{/pix}}{{/sortdesc}}
            {{#sortasc}}{{#pix}} t/expanded, core, {{#str}} filtersortactiveasc, openstudio {{/str}} {{/pix}}{{/sortasc}}
        </a>
    </span>
</span>
<span class="openstudio-filter-divider"></span>
<span class="openstudio-filter-text openstudio-filter-select">
    <span>{{#str}} filtergroup, mod_openstudio {{/str}}:</span>
    {{#showmultigroup}}
        <input type="hidden" id="openstudio-people-sort-action-url" value="{{sortactionurl}}">
        <select id="openstudio-people-groupid">
            {{#groupitems}}
                <option value="{{groupid}}" vid="{{vid}}" name="{{name}}"
                        {{#selectedgroup}}selected="selected"{{/selectedgroup}}>{{name}}
                </option>
            {{/groupitems}}
        </select>
    {{/showmultigroup}}
    {{^showmultigroup}}
        {{#groupitems}}
            <span>{{name}}</span>
        {{/groupitems}}
    {{/showmultigroup}}
</span>
