{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/profile_bar

    Profile bar template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "userpictureurl" : "../../../mod/openstudio/pix/people_rgb_32px.svg",
        "commentsicon" : "../../../mod/openstudio/pix/comments_rgb_32px.svg",
        "viewedicon" : "../../../mod/openstudio/pix/viewed_rgb_32px.svg",
        "fullusername" : "Admin User",
        "activedate" : "1 January 70, 08:00",
        "flagscontentread" : "100",
        "percentcompleted" : "70",
        "myactivities" : "true"
    }
}}

<div class="openstudio-profile-bar clearfix">
    <div class="openstudio-profile-user-picture">
        <img src="{{{userpictureurl}}}">
    </div>
    <div class="openstudio-profile-head clearfix">
        <div class="openstudio-profile-mypaticipation-content">
            <div class="openstudio-profile-profile-header">
                <a id="openstudio_profile_fullusername" class="openstudio-profile-mypaticipation collapsed"
                   data-toggle="collapse" data-target=" #profile_mypaticipation, #profile_comment_view, #profile_percent"
                    href="">
                    <div>
                        <div class="openstudio-profile-fullname">
                            {{fullusername}}
                        </div>
                        <div class="openstudio-profile-expand-image">
                            {{#pix}} t/expanded, core, {{#str}} navprofileexpandon, openstudio {{/str}}{{/pix}}
                        </div>
                        <div class="openstudio-profile-collapse-image">
                            {{#pix}} t/collapsed, core, {{#str}} navprofileexpandoff, openstudio {{/str}}{{/pix}}
                        </div>
                    </div>
                </a>
                <a id="openstudio_profile_fullusername_mobile" class="openstudio-profile-mypaticipation collapsed"
                   data-toggle="collapse" data-target=" #openstudio_profile_bar_mobile,
                        #profile_comment_view_mobile, #profile_percent_mobile" href="">
                    {{fullusername}}
                    <span class="openstudio-expand-image">
                        {{#pix}} t/expanded, core, {{#str}} navprofileexpandon, openstudio {{/str}}{{/pix}}
                    </span>
                    <span class="openstudio-collapse-image">
                        {{#pix}} t/collapsed, core, {{#str}} navprofileexpandoff, openstudio {{/str}}{{/pix}}
                    </span>
                </a>
            </div>
            <div id="profile_mypaticipation" class="openstudio-profile-date collapse">
                <div class="openstudio-profile-last-active-date">
                    {{#str}} profilebarlastactivedate, mod_openstudio {{/str}}
                </div>
                <div class="openstudio-profile-own-date">
                    {{activedate}}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" id="openstudio_profile_bar">
        {{>mod_openstudio/profile_bar_details}}
    </div>
    <div class="clearfix collapse" id="openstudio_profile_bar_mobile">
        {{>mod_openstudio/profile_bar_details_mobile}}
    </div>
</div>
