{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_openstudio/reportusage

    Report usage template of the OpenStudio UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "summarydata": {
            "registeredusers" : 1,
            "activeusers" : 2,
            "averagecontentperuser" : 3,
            "averagepinboardcontentperuser" : 4,
            "averageactivitycontentperuser" : 5,
            "slots" : {
                "slots" : 1,
                "slotsdeleted" : 0
            },
            "slotversions" : {
                "slotversions" : 1,
                "slotversionsdeleted" : 0
            },
            "slotcomments" : {
                "slotcomments" : 1,
                "slotaudiocomments" : 1,
                "slotcommentsdeleted" : 0
            }
         },
         "contentdataactivity" : {
            "levelname" : {
                "level1name" : "level 1",
                "level2name" : "level 2",
                "level3name" : "level 3"
            },
            "contenttypename" : "Image",
            "totalusers" : 10,
            "totalcontents": 5
        },
        "flagdata" : {
            "flagdatacontentstop20" : {
                 "levelname" : {
                    "level1name" : "level 1",
                    "level2name" : "level 2",
                    "level3name" : "level 3"
                },
                "contentname" : "Content A",
                "ownername": "Admin",
                "totalcontents": "10"
             },
            "people" : {
                "totalusers" : 10,
                "totalpeople" : 5
             },
            "peopletop20" : {
                "firstname" : "Admin",
                "lastname" : "User",
                "totalusers" : 5
             },
            "flagdatacontentstrackedtop20" : {
                 "levelname" : {
                    "level1name" : "level 1",
                    "level2name" : "level 2",
                    "level3name" : "level 3"
                },
                "totalcontents": "10"
             }
        },
        "storagetotalmb" : 10,
        "storagetotalgb" : 1,
        "storagebycontentmb" : 10,
        "storagebycontentgb" : 1,
        "storagebycontentversionmb" : 10,
        "storagebycontentversiongb" : 1,
        "storagebythumbnailmb" : 10,
        "storagebythumbnailgb" : 1,
        "storagebycommentmb" : 10,
        "storagebycommentgb" : 1,
        "storage" : {
            "storagecontentsbymimetype" : {
                "mimetype" : "image/jpeg",
                "totals" : 100,
                "storageusedmb" : 100,
                "storageusedgb" : 1
            },
            "storagestoragebyuser" : {
                "owner" : "Admin User",
                "totals" : 100,
                "storageusedmb" : 100,
                "storageusedgb" : 1
            }
        },
         "activitylog" : {
            "action" : "Add",
            "totals" : 100
        }
    }
}}
<h1>{{#str}} navadminusagereport, mod_openstudio {{/str}}</h1>
<div class="openstudio-report-usage">
   <h2>{{#str}} reportusagetitle1, mod_openstudio {{/str}}</h2>
   {{#summarydata}}
   <p>
       {{#str}}
           reportusage1section1, mod_openstudio, { "registeredusers": {{#quote}}{{registeredusers}}{{/quote}} }
       {{/str}}
   </p>
   <p>
       {{#str}}
           reportusage1section2, mod_openstudio, { "activeusers": {{#quote}}{{activeusers}}{{/quote}} }
       {{/str}}
   </p>
   <p>
       {{#str}}
           reportusage1section3, mod_openstudio, {
            "averagecontentperuser": {{#quote}}{{averagecontentperuser}}{{/quote}}
           }
       {{/str}}
   </p>
   <p>
       {{#str}}
           reportusage1section4, mod_openstudio, {
            "averagepinboardcontentperuser": {{#quote}}{{averagepinboardcontentperuser}}{{/quote}}
           }
       {{/str}}
   </p>
   <p>
       {{#str}}
           reportusage1section5, mod_openstudio, {
            "averageactivitycontentperuser": {{#quote}}{{averageactivitycontentperuser}}{{/quote}}
           }
       {{/str}}
   </p>
   <p>
       {{#slots}}
           {{#str}}
               reportusage1section6, mod_openstudio, {
                    "contents": {{#quote}}{{slots}}{{/quote}},
                    "contentsdeleted": {{#quote}}{{slotsdeleted}}{{/quote}}
               }
           {{/str}}
       {{/slots}}
   </p>
   <p>
       {{#slotversions}}
           {{#str}}
               reportusage1section7, mod_openstudio, {
                    "contentversions": {{#quote}}{{slotversions}}{{/quote}},
                    "contentversionsdeleted": {{#quote}}{{slotversionsdeleted}}{{/quote}}
               }
           {{/str}}
       {{/slotversions}}
   </p>
   <p>
       {{#slotcomments}}
           {{#str}}
               reportusage1section8, mod_openstudio, {
                    "contentcomments": {{#quote}}{{slotcomments}}{{/quote}},
                    "contentcommentsdeleted": {{#quote}}{{slotcommentsdeleted}}{{/quote}}
               }
           {{/str}}
       {{/slotcomments}}
   </p>
   <p>
       {{#slotcomments}}
           {{#str}}
               reportusage1section9, mod_openstudio, {
                    "contentaudiocomments": {{#quote}}{{slotaudiocomments}}{{/quote}}
               }
           {{/str}}
       {{/slotcomments}}
   </p>
   {{/summarydata}}
    <table>
        <caption>{{#str}} reportusage2section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th colspan="3">{{#str}} reportusage2section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage2section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage2section4, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage2section5, mod_openstudio {{/str}}</th>
        </tr>
        {{#contentdataactivity}}
            <tr>
                {{#levelname}}
                    <td>{{level1name}}</td>
                    <td>{{level2name}}</td>
                    <td>{{level3name}}</td>
                {{/levelname}}
                <td>{{contenttypename}}</td>
                <td>{{totalusers}}</td>
                <td>{{totalcontents}}</td>
            </tr>
        {{/contentdataactivity}}
    </table>
    <table>
        <caption>{{#str}} reportusage3section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th colspan="3">{{#str}} reportusage2section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage3section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage3section4, mod_openstudio {{/str}}</th>
        </tr>
        {{#contentdatavisbility}}
            <tr>
                {{#levelname}}
                    <td>{{level1name}}</td>
                    <td>{{level2name}}</td>
                    <td>{{level3name}}</td>
                {{/levelname}}
                <td>{{visibilitytypename}}</td>
                <td>{{totalcontents}}</td>
            </tr>
        {{/contentdatavisbility}}
    </table>
    <table>
        <caption>{{#str}} reportusage4section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th colspan="3">{{#str}} reportusage4section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage4section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage4section4, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage4section5, mod_openstudio {{/str}}</th>
        </tr>
        {{#flagdata}}
            {{#flagdatacontentstop20}}
                <tr>
                    {{#levelname}}
                        <td>{{level1name}}</td>
                        <td>{{level2name}}</td>
                        <td>{{level3name}}</td>
                    {{/levelname}}
                    <td>{{contentname}}</td>
                    <td>{{ownername}}</td>
                    <td>{{totalcontents}}</td>
                </tr>
            {{/flagdatacontentstop20}}
        {{/flagdata}}
    </table>
    <hr />
    <h2>{{#str}} reportusagetitle2, mod_openstudio {{/str}}</h2>
    <table>
        <caption>{{#str}} reportusage5section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th>{{#str}} reportusage5section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage5section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage5section4, mod_openstudio {{/str}}</th>
        </tr>
        {{#flagdata}}
            {{#people}}
                <tr>
                    <td>{{#str}} reportusage5section5, mod_openstudio {{/str}}</td>
                    <td>{{totalusers}}</td>
                    <td>{{totalpeople}}</td>
                </tr>
            {{/people}}
        {{/flagdata}}
    </table>
    <table>
        <caption>{{#str}} reportusage6section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th>{{#str}} reportusage6section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage6section3, mod_openstudio {{/str}}</th>
        </tr>
        {{#flagdata}}
            {{#peopletop20}}
                <tr>
                    <td>{{firstname}} {{lastname}}</td>
                    <td>{{totalusers}}</td>
                </tr>
            {{/peopletop20}}
        {{/flagdata}}
    </table>
    <table>
        <caption>{{#str}} reportusage7section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th colspan="3">{{#str}} reportusage7section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage7section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage7section4, mod_openstudio {{/str}}</th>
        </tr>
        {{#flagdata}}
            {{#flagdatacontentstrackedtop20}}
                <tr>
                    {{#levelname}}
                        <td>{{level1name}}</td>
                        <td>{{level2name}}</td>
                        <td>{{level3name}}</td>
                    {{/levelname}}
                    <td>{{contentname}}</td>
                    <td>{{totalcontents}}</td>
                </tr>
            {{/flagdatacontentstrackedtop20}}
        {{/flagdata}}
    </table>
    <hr />
    {{#summarydata}}
        <p>
            {{#str}}
                reportusage8section1, mod_openstudio, {
                    "storagetotalmb": {{#quote}}{{storagetotalmb}}{{/quote}},
                    "storagetotalgb": {{#quote}}{{storagetotalgb}}{{/quote}}
                }
            {{/str}}
        </p>
        <p>
            {{#str}}
                reportusage8section2, mod_openstudio, {
                    "storagebycontentmb": {{#quote}}{{storagebycontentmb}}{{/quote}},
                    "storagebycontentgb": {{#quote}}{{storagebycontentgb}}{{/quote}}
                }
            {{/str}}
        </p>
        <p>
            {{#str}}
                reportusage8section2a, mod_openstudio, {
                    "storagebycontentmb": {{#quote}}{{storagebycontentversionmb}}{{/quote}},
                    "storagebycontentgb": {{#quote}}{{storagebycontentversiongb}}{{/quote}}
                }
            {{/str}}
        </p>
        <p>
            {{#str}}
                reportusage8section3, mod_openstudio, {
                    "storagebythumbnailmb": {{#quote}}{{storagebythumbnailmb}}{{/quote}},
                    "storagebythumbnailgb": {{#quote}}{{storagebythumbnailgb}}{{/quote}}
                }
            {{/str}}
        </p>
        <p>
            {{#str}}
                reportusage8section4, mod_openstudio, {
                    "storagebyaudiomb": {{#quote}}{{storagebycommentmb}}{{/quote}},
                    "storagebyaudiogb": {{#quote}}{{storagebycommentgb}}{{/quote}}
                }
            {{/str}}
        </p>
    {{/summarydata}}
    <table>
        <caption>{{#str}} reportusage9section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th>{{#str}} reportusage9section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage9section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage9section4, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage9section5, mod_openstudio {{/str}}</th>
        </tr>
        {{#storage}}
            {{#storagecontentsbymimetype}}
                <tr>
                    <td>{{mimetype}}</td>
                    <td>{{totals}}</td>
                    <td>{{storageusedmb}}</td>
                    <td>{{storageusedgb}}</td>
                </tr>
            {{/storagecontentsbymimetype}}
        {{/storage}}
    </table>
    <table>
        <caption>{{#str}} reportusage10section1, mod_openstudio {{/str}}</caption>
        <tr>
            <th>{{#str}} reportusage10section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage10section3, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage10section4, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage10section5, mod_openstudio {{/str}}</th>
        </tr>
    <tr>
        {{#storage}}
            {{#storagestoragebyuser}}
                <tr>
                    <td>{{owner}}</td>
                    <td>{{totals}}</td>
                    <td>{{storageusedmb}}</td>
                    <td>{{storageusedgb}}</td>
                </tr>
            {{/storagestoragebyuser}}
        {{/storage}}
        </tr>
    </table>
    <hr />
    <table>
        <caption>{{#str}} reportusage11section1, mod_openstudio {{/str}} </caption>
        <tr>
            <th>{{#str}} reportusage11section2, mod_openstudio {{/str}}</th>
            <th>{{#str}} reportusage11section3, mod_openstudio {{/str}}</th>
        </tr>
        {{#activitylog}}
            <tr>
                <td>{{action}}</td>
                <td>{{total}}</td>
            </tr>
        {{/activitylog}}
    </table>
</div>
